In [1]:
import numpy as np
import pandas as pd
from data_loader import data_loader1
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from data_loader import data_loader2

In [5]:
file_name = '../datasets/bank.csv'
complete_data_x = pd.read_csv(file_name,sep=';')
complete_data_x.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [7]:
no,dim=complete_data_x.shape
print(no)
print(dim)

45211
17

In [12]:
complete_data_x_array=complete_data_x.values
print(complete_data_x_array)

[[58 'management' 'married' ... 0 'unknown' 'no']
 [44 'technician' 'single' ... 0 'unknown' 'no']
 [33 'entrepreneur' 'married' ... 0 'unknown' 'no']
 ...
 [72 'retired' 'married' ... 3 'success' 'yes']
 [57 'blue-collar' 'married' ... 0 'unknown' 'no']
 [37 'entrepreneur' 'married' ... 11 'other' 'no']]

In [13]:
np.random.shuffle(complete_data_x_array)

In [14]:
print(complete_data_x_array)

[[36 'blue-collar' 'married' ... 0 'unknown' 'no']
 [39 'management' 'married' ... 0 'unknown' 'no']
 [31 'unemployed' 'single' ... 1 'other' 'no']
 ...
 [27 'housemaid' 'married' ... 0 'unknown' 'no']
 [45 'blue-collar' 'married' ... 0 'unknown' 'no']
 [29 'self-employed' 'married' ... 0 'unknown' 'no']]

In [15]:
def binary_sampler(p, rows, cols):
    """
    生成二进制随机矩阵

    Args:
      - p: 元素为1的概率
      - rows: 生成的矩阵的行数
      - cols: 生成的矩阵的列数

    Returns:
      - 二进制随机矩阵.
    """
    unif_random_matrix = np.random.uniform(0., 1., size=[rows, cols]) # 生成一个均匀分布的随机矩阵
    binary_random_matrix = 1 * (unif_random_matrix < p) #
    return binary_random_matrix  # 掩码矩阵

In [17]:
miss_rate=0.2
data_m = binary_sampler(1 - miss_rate, no, dim)
print(data_m)

[[1 1 1 ... 0 1 1]
 [1 1 0 ... 1 1 1]
 [0 1 1 ... 1 1 1]
 ...
 [0 1 1 ... 0 1 1]
 [0 1 1 ... 0 1 1]
 [1 0 1 ... 1 0 1]]

In [19]:
pd.DataFrame(data_m)

       0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0       1   1   1   1   1   1   1   1   1   1   0   1   1   1   0   1   1
1       1   1   0   1   1   1   1   1   1   0   1   1   1   1   1   1   1
2       0   1   1   1   1   0   1   1   0   1   1   1   1   1   1   1   1
3       1   1   0   1   1   1   1   1   0   1   0   1   1   1   0   1   1
4       1   1   1   1   1   1   1   1   0   1   1   1   1   1   1   1   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
45206   0   1   1   1   1   1   1   0   0   1   1   1   0   1   1   0   1
45207   1   1   1   1   1   1   1   1   1   1   1   1   1   0   1   1   1
45208   0   1   1   1   1   0   1   0   1   1   1   1   1   1   0   1   1
45209   0   1   1   1   0   1   0   1   1   1   1   1   0   1   0   1   1
45210   1   0   1   1   1   1   1   1   1   0   1   1   1   1   1   0   1

[45211 rows x 17 columns]

In [20]:
incomplete_data_x=complete_data_x_array.copy();
incomplete_data_x[data_m==0]=np.nan
print(incomplete_data_x)

[[36 'blue-collar' 'married' ... nan 'unknown' 'no']
 [39 'management' nan ... 0 'unknown' 'no']
 [nan 'unemployed' 'single' ... 1 'other' 'no']
 ...
 [nan 'housemaid' 'married' ... nan 'unknown' 'no']
 [nan 'blue-collar' 'married' ... nan 'unknown' 'no']
 [29 nan 'married' ... 0 nan 'no']]

In [21]:
pd.DataFrame(incomplete_data_x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,36,blue-collar,married,secondary,yes,13,no,yes,cellular,3,NaN,150,4,-1,NaN,unknown,no
1,39,management,NaN,tertiary,no,183,yes,no,unknown,NaN,may,324,2,-1,0,unknown,no
2,NaN,unemployed,single,secondary,no,NaN,no,no,NaN,30,jan,130,1,2,1,other,no
3,28,blue-collar,NaN,secondary,no,1827,yes,no,NaN,19,NaN,211,2,-1,NaN,unknown,no
4,58,technician,married,secondary,no,1463,yes,no,NaN,12,aug,110,3,-1,0,unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,NaN,services,single,secondary,no,609,no,NaN,NaN,5,jun,372,NaN,-1,0,NaN,no
45207,51,admin.,married,primary,no,173,no,no,cellular,20,aug,65,2,NaN,0,unknown,no
45208,NaN,housemaid,married,primary,yes,NaN,no,NaN,cellular,14,jul,132,4,-1,NaN,unknown,no
45209,NaN,blue-collar,married,primary,NaN,692,NaN,yes,cellular,27,aug,102,NaN,-1,NaN,unknown,no
45210,29,NaN,married,tertiary,no,1,no,no,cellular,NaN,jul,167,3,-1,0,NaN,no

In [23]:
file_name = '../datasetsAB/bank_data_B.csv'
complete_data_B = pd.read_csv(file_name,sep=',')
complete_data_B.head(10)

   contact  day month  duration  campaign  pdays  previous poutcome   y  index
0  unknown    5   may       261         1     -1         0  unknown  no      0
1  unknown    5   may       151         1     -1         0  unknown  no      1
2  unknown    5   may        76         1     -1         0  unknown  no      2
3  unknown    5   may        92         1     -1         0  unknown  no      3
4  unknown    5   may       198         1     -1         0  unknown  no      4
5  unknown    5   may       139         1     -1         0  unknown  no      5
6  unknown    5   may       217         1     -1         0  unknown  no      6
7  unknown    5   may       380         1     -1         0  unknown  no      7
8  unknown    5   may        50         1     -1         0  unknown  no      8
9  unknown    5   may        55         1     -1         0  unknown  no      9

In [24]:
n=40000
incomplete_data_B=complete_data_B.drop(complete_data_B.sample(n).index)
incomplete_data_B.shape

(5211, 10)

In [25]:
incomplete_data_B.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
11,unknown,5,may,137,1,-1,0,unknown,no,11
16,unknown,5,may,98,1,-1,0,unknown,no,16
17,unknown,5,may,38,1,-1,0,unknown,no,17
24,unknown,5,may,181,1,-1,0,unknown,no,24
48,unknown,5,may,160,1,-1,0,unknown,no,48
58,unknown,5,may,185,1,-1,0,unknown,no,58
78,unknown,5,may,272,1,-1,0,unknown,no,78
93,unknown,5,may,221,1,-1,0,unknown,no,93
117,unknown,5,may,364,1,-1,0,unknown,no,117
130,unknown,5,may,677,1,-1,0,unknown,no,130

In [30]:
n=round(no*(1-miss_rate))
print(n)

36169

In [31]:
incomplete_data_B=complete_data_B.drop(complete_data_B.sample(n).index)
incomplete_data_B.shape

(9042, 10)

In [32]:
incomplete_data_B.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
9,unknown,5,may,55,1,-1,0,unknown,no,9
10,unknown,5,may,222,1,-1,0,unknown,no,10
17,unknown,5,may,38,1,-1,0,unknown,no,17
22,unknown,5,may,160,1,-1,0,unknown,no,22
34,unknown,5,may,336,1,-1,0,unknown,no,34
42,unknown,5,may,22,1,-1,0,unknown,no,42
45,unknown,5,may,242,1,-1,0,unknown,no,45
52,unknown,5,may,179,1,-1,0,unknown,no,52
60,unknown,5,may,138,1,-1,0,unknown,no,60
61,unknown,5,may,812,1,-1,0,unknown,no,61

In [35]:


# 生成一个随机索引数组
random_indices = np.random.choice(no, size=n, replace=False)

# 将选中的行置为0
complete_data_B.loc[random_indices, :] = 0
complete_data_B.shape
# 将剩余的行置为1
complete_data_B.loc[~complete_data_B.index.isin(random_indices), :] = 1

In [36]:
complete_data_B.head(10)

  contact  day month  duration  campaign  pdays  previous poutcome  y  index
0       0    0     0         0         0      0         0        0  0      0
1       0    0     0         0         0      0         0        0  0      0
2       0    0     0         0         0      0         0        0  0      0
3       0    0     0         0         0      0         0        0  0      0
4       0    0     0         0         0      0         0        0  0      0
5       0    0     0         0         0      0         0        0  0      0
6       0    0     0         0         0      0         0        0  0      0
7       1    1     1         1         1      1         1        1  1      1
8       1    1     1         1         1      1         1        1  1      1
9       0    0     0         0         0      0         0        0  0      0

In [40]:
incomplete_data = complete_data_B.values
print(incomplete_data)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [41]:
complete_data_B = pd.read_csv(file_name,sep=',')

In [44]:
complete_data_B[incomplete_data==0]=np.nan
complete_data_B.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,unknown,5.0,may,380.0,1.0,-1.0,0.0,unknown,no,7.0
8,unknown,5.0,may,50.0,1.0,-1.0,0.0,unknown,no,8.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_name = 'bank_data_B'
complete_data,incomplete_data,data_m=data_loader1(data_name,0.2)

In [5]:
print(complete_data.shape)
complete_data.head(10)

(45211, 10)

   contact  day month  duration  campaign  pdays  previous poutcome   y  index
0  unknown    5   may       261         1     -1         0  unknown  no      0
1  unknown    5   may       151         1     -1         0  unknown  no      1
2  unknown    5   may        76         1     -1         0  unknown  no      2
3  unknown    5   may        92         1     -1         0  unknown  no      3
4  unknown    5   may       198         1     -1         0  unknown  no      4
5  unknown    5   may       139         1     -1         0  unknown  no      5
6  unknown    5   may       217         1     -1         0  unknown  no      6
7  unknown    5   may       380         1     -1         0  unknown  no      7
8  unknown    5   may        50         1     -1         0  unknown  no      8
9  unknown    5   may        55         1     -1         0  unknown  no      9

In [6]:
print(incomplete_data.shape)
incomplete_data.head(10)

(45211, 10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,5.0,may,198.0,1.0,-1.0,0.0,unknown,no,4.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data_m.head(10)

  contact  day month  duration  campaign  pdays  previous poutcome  y  index
0       0    0     0         0         0      0         0        0  0      0
1       1    1     1         1         1      1         1        1  1      1
2       0    0     0         0         0      0         0        0  0      0
3       0    0     0         0         0      0         0        0  0      0
4       1    1     1         1         1      1         1        1  1      1
5       0    0     0         0         0      0         0        0  0      0
6       0    0     0         0         0      0         0        0  0      0
7       0    0     0         0         0      0         0        0  0      0
8       0    0     0         0         0      0         0        0  0      0
9       0    0     0         0         0      0         0        0  0      0

In [8]:
incomplete_data.head(50)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,5.0,may,198.0,1.0,-1.0,0.0,unknown,no,4.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,unknown,5.0,may,71.0,1.0,-1.0,0.0,unknown,no,13.0
14,unknown,5.0,may,174.0,1.0,-1.0,0.0,unknown,no,14.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,unknown,5.0,may,255.0,2.0,-1.0,0.0,unknown,no,28.0
29,unknown,5.0,may,348.0,1.0,-1.0,0.0,unknown,no,29.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no,40.0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,unknown,5.0,may,616.0,1.0,-1.0,0.0,unknown,no,44.0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,unknown,5.0,may,225.0,2.0,-1.0,0.0,unknown,no,47.0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
from sklearn.preprocessing import LabelEncoder

# 创建一个LabelEncoder对象
le = LabelEncoder()

# 列出你想要编码的列
columns_to_encode = ['workclass', 'education', 'marital-status','occupation','relationship','race','sex','native-country','income']

# 对每个选定的列进行编码
for column in columns_to_encode:
    adult_data[column] = le.fit_transform(adult_data[column])

ValueError: could not convert string to float: 'blue-collar'

In [9]:
# 归一化
def normalization(data, parameters=None):
    """
    Normalize data in [0, 1] range.

    Args:
      - data: original data

    Returns:
      - norm_data: normalized data
      - norm_parameters: min_val, max_val for each feature for renormalization
    """

    # Parameters
    _, dim = data.shape
    norm_data = data.copy()

    if parameters is None:

        # MixMax normalization
        min_val = np.zeros(dim)
        max_val = np.zeros(dim)

        # For each dimension
        for i in range(dim):
            min_val[i] = np.nanmin(norm_data[:, i])
            norm_data[:, i] = norm_data[:, i] - np.nanmin(norm_data[:, i])
            max_val[i] = np.nanmax(norm_data[:, i])
            norm_data[:, i] = norm_data[:, i] / (np.nanmax(norm_data[:, i]) + 1e-6)

            # Return norm_parameters for renormalization
        norm_parameters = {'min_val': min_val,
                           'max_val': max_val}

    else:
        min_val = parameters['min_val']
        max_val = parameters['max_val']

        # For each dimension
        for i in range(dim):
            norm_data[:, i] = norm_data[:, i] - min_val[i]
            norm_data[:, i] = norm_data[:, i] / (max_val[i] + 1e-6)

        norm_parameters = parameters

    return norm_data, norm_parameters

In [11]:
# Normalization 数据归一化处理
norm_data, norm_parameters = normalization(incomplete_data)  # 归一化，在utils中已定义好

InvalidIndexError: (slice(None, None, None), 0)

In [14]:
print(complete_data.values)

[['unknown' 5 'may' ... 'unknown' 'no' 0]
 ['unknown' 5 'may' ... 'unknown' 'no' 1]
 ['unknown' 5 'may' ... 'unknown' 'no' 2]
 ...
 ['cellular' 17 'nov' ... 'success' 'yes' 45208]
 ['telephone' 17 'nov' ... 'unknown' 'no' 45209]
 ['cellular' 17 'nov' ... 'other' 'no' 45210]]

In [16]:
incomplete_data.head()

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,5.0,may,198.0,1.0,-1.0,0.0,unknown,no,4.0

In [3]:
file_name = '../datasetsAB/bank_data_B.csv'
complete_data_B = pd.read_csv(file_name,sep=',')
complete_data_B.head(50)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,unknown,5,may,261,1,-1,0,unknown,no,0
1,unknown,5,may,151,1,-1,0,unknown,no,1
2,unknown,5,may,76,1,-1,0,unknown,no,2
3,unknown,5,may,92,1,-1,0,unknown,no,3
4,unknown,5,may,198,1,-1,0,unknown,no,4
5,unknown,5,may,139,1,-1,0,unknown,no,5
6,unknown,5,may,217,1,-1,0,unknown,no,6
7,unknown,5,may,380,1,-1,0,unknown,no,7
8,unknown,5,may,50,1,-1,0,unknown,no,8
9,unknown,5,may,55,1,-1,0,unknown,no,9
10,unknown,5,may,222,1,-1,0,unknown,no,10
11,unknown,5,may,137,1,-1,0,unknown,no,11
12,unknown,5,may,517,1,-1,0,unknown,no,12
13,unknown,5,may,71,1,-1,0,unknown,no,13
14,unknown,5,may,174,1,-1,0,unknown,no,14
15,unknown,5,may,353,1,-1,0,unknown,no,15
16,unknown,5,may,98,1,-1,0,unknown,no,16
17,unknown,5,may,38,1,-1,0,unknown,no,17
18,unknown,5,may,219,1,-1,0,unknown,no,18
19,unknown,5,may,54,1,-1,0,unknown,no,19
20,unknown,5,may,262,1,-1,0,unknown,no,20
21,unknown,5,may,164,1,-1,0,unknown,no,21
22,unknown,5,may,160,1,-1,0,unknown,no,22
23,unknown,5,may,342,1,-1,0,unknown,no,23
24,unknown,5,may,181,1,-1,0,unknown,no,24
25,unknown,5,may,172,1,-1,0,unknown,no,25
26,unknown,5,may,296,1,-1,0,unknown,no,26
27,unknown,5,may,127,1,-1,0,unknown,no,27
28,unknown,5,may,255,2,-1,0,unknown,no,28
29,unknown,5,may,348,1,-1,0,unknown,no,29
30,unknown,5,may,225,1,-1,0,unknown,no,30
31,unknown,5,may,230,1,-1,0,unknown,no,31
32,unknown,5,may,208,1,-1,0,unknown,no,32
33,unknown,5,may,226,1,-1,0,unknown,no,33
34,unknown,5,may,336,1,-1,0,unknown,no,34
35,unknown,5,may,242,1,-1,0,unknown,no,35
36,unknown,5,may,365,1,-1,0,unknown,no,36
37,unknown,5,may,1666,1,-1,0,unknown,no,37
38,unknown,5,may,577,1,-1,0,unknown,no,38
39,unknown,5,may,137,1,-1,0,unknown,no,39
40,unknown,5,may,160,1,-1,0,unknown,no,40
41,unknown,5,may,180,2,-1,0,unknown,no,41
42,unknown,5,may,22,1,-1,0,unknown,no,42
43,unknown,5,may,1492,1,-1,0,unknown,no,43
44,unknown,5,may,616,1,-1,0,unknown,no,44
45,unknown,5,may,242,1,-1,0,unknown,no,45
46,unknown,5,may,355,1,-1,0,unknown,no,46
47,unknown,5,may,225,2,-1,0,unknown,no,47
48,unknown,5,may,160,1,-1,0,unknown,no,48
49,unknown,5,may,363,1,-1,0,unknown,no,49

In [5]:
# 选择所有的字符串列
df_object = complete_data_B.select_dtypes(include=['object'])

print(df_object)

         contact month poutcome    y
0        unknown   may  unknown   no
1        unknown   may  unknown   no
2        unknown   may  unknown   no
3        unknown   may  unknown   no
4        unknown   may  unknown   no
...          ...   ...      ...  ...
45206   cellular   nov  unknown  yes
45207   cellular   nov  unknown  yes
45208   cellular   nov  success  yes
45209  telephone   nov  unknown   no
45210   cellular   nov    other   no

[45211 rows x 4 columns]

In [7]:
# 使用pandas的get_dummies函数进行特征编码
df_encoded = pd.get_dummies(df_object)

print(df_encoded)

       contact_cellular  contact_telephone  contact_unknown  month_apr  \
0                 False              False             True      False
1                 False              False             True      False
2                 False              False             True      False
3                 False              False             True      False
4                 False              False             True      False
...                 ...                ...              ...        ...
45206              True              False            False      False
45207              True              False            False      False
45208              True              False            False      False
45209             False               True            False      False
45210              True              False            False      False

       month_aug  month_dec  month_feb  month_jan  month_jul  month_jun  ...  \
0          False      False      False      False      False      False  ...
1          False      False      False      False      False      False  ...
2          False      False      False      False      False      False  ...
3          False      False      False      False      False      False  ...
4          False      False      False      False      False      False  ...
...          ...        ...        ...        ...        ...        ...  ...
45206      False      False      False      False      False      False  ...
45207      False      False      False      False      False      False  ...
45208      False      False      False      False      False      False  ...
45209      False      False      False      False      False      False  ...
45210      False      False      False      False      False      False  ...

       month_may  month_nov  month_oct  month_sep  poutcome_failure  \
0           True      False      False      False             False
1           True      False      False      False             False
2           True      False      False      False             False
3           True      False      False      False             False
4           True      False      False      False             False
...          ...        ...        ...        ...               ...
45206      False       True      False      False             False
45207      False       True      False      False             False
45208      False       True      False      False             False
45209      False       True      False      False             False
45210      False       True      False      False             False

       poutcome_other  poutcome_success  poutcome_unknown   y_no  y_yes
0               False             False              True   True  False
1               False             False              True   True  False
2               False             False              True   True  False
3               False             False              True   True  False
4               False             False              True   True  False
...               ...               ...               ...    ...    ...
45206           False             False              True  False   True
45207           False             False              True  False   True
45208           False              True             False  False   True
45209           False             False              True   True  False
45210            True             False             False   True  False

[45211 rows x 21 columns]

In [9]:
# 创建一个OneHotEncoder对象
encoder = OneHotEncoder()

# 转换数据框为NumPy数组并进行特征编码
df_encoded = encoder.fit_transform(df_object.values)

# 转换回数据框
df_encoded = pd.DataFrame(df_encoded.toarray(), columns=encoder.get_feature_names_out())

In [10]:
df_encoded.shape

(45211, 21)

In [11]:
complete_data_B.shape

(45211, 10)

In [12]:
df_encoded.head(10)

,x0_cellular,x0_telephone,x0_unknown,x1_apr,x1_aug,x1_dec,x1_feb,x1_jan,x1_jul,x1_jun,...,x1_may,x1_nov,x1_oct,x1_sep,x2_failure,x2_other,x2_success,x2_unknown,x3_no,x3_yes
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [13]:
# 创建一个OneHotEncoder对象
encoder = OneHotEncoder()

# 转换数据框为NumPy数组并进行特征编码
df_encoded = encoder.fit_transform(complete_data_B.values)

# 转换回数据框
df_encoded = pd.DataFrame(df_encoded.toarray(), columns=encoder.get_feature_names_out())

In [14]:
df_encoded.shape

(45211, 47484)

In [15]:
df_encoded.head(10)

,x0_cellular,x0_telephone,x0_unknown,x1_1,x1_2,x1_3,x1_4,x1_5,x1_6,x1_7,...,x9_45201,x9_45202,x9_45203,x9_45204,x9_45205,x9_45206,x9_45207,x9_45208,x9_45209,x9_45210
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# 分离出连续列和分类列
df_continuous = complete_data_B.select_dtypes(include=['float64'])
df_categorical = complete_data_B.select_dtypes(include=['object'])
# 选择除了字符串列之外的所有列
df_non_object = df.select_dtypes(exclude=['object'])

print(df_non_object)
# 对分类列进行标签编码
encoder = LabelEncoder()
for col in df_categorical.columns:
    df_categorical[col] = encoder.fit_transform(df_categorical[col])

# 将分类列和连续列合并
df_final = pd.concat([df_continuous, df_categorical], axis=1)

print(df_final)

       contact  month  poutcome  y
0            2      8         3  0
1            2      8         3  0
2            2      8         3  0
3            2      8         3  0
4            2      8         3  0
...        ...    ...       ... ..
45206        0      9         3  1
45207        0      9         3  1
45208        0      9         2  1
45209        1      9         3  0
45210        0      9         1  0

[45211 rows x 4 columns]

In [17]:
print(df_continuous)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[45211 rows x 0 columns]

In [18]:
# 分离出连续列和分类列
df_categorical = complete_data_B.select_dtypes(include=['object'])
# 选择除了字符串列之外的所有列
df_non_object = complete_data_B.select_dtypes(exclude=['object'])

In [20]:
print(df_non_object)

       day  duration  campaign  pdays  previous  index
0        5       261         1     -1         0      0
1        5       151         1     -1         0      1
2        5        76         1     -1         0      2
3        5        92         1     -1         0      3
4        5       198         1     -1         0      4
...    ...       ...       ...    ...       ...    ...
45206   17       977         3     -1         0  45206
45207   17       456         2     -1         0  45207
45208   17      1127         5    184         3  45208
45209   17       508         4     -1         0  45209
45210   17       361         2    188        11  45210

[45211 rows x 6 columns]
(45211, 6)

In [21]:
print(df_categorical)

         contact month poutcome    y
0        unknown   may  unknown   no
1        unknown   may  unknown   no
2        unknown   may  unknown   no
3        unknown   may  unknown   no
4        unknown   may  unknown   no
...          ...   ...      ...  ...
45206   cellular   nov  unknown  yes
45207   cellular   nov  unknown  yes
45208   cellular   nov  success  yes
45209  telephone   nov  unknown   no
45210   cellular   nov    other   no

[45211 rows x 4 columns]

In [22]:
complete_data_B.shape

(45211, 10)

In [23]:
# 对分类列进行标签编码
encoder = LabelEncoder()
for col in df_categorical.columns:
    df_categorical[col] = encoder.fit_transform(df_categorical[col])

# 将分类列和连续列合并
df_final = pd.concat([df_non_object, df_categorical], axis=1)

print(df_final)

       day  duration  campaign  pdays  previous  index  contact  month  \
0        5       261         1     -1         0      0        2      8
1        5       151         1     -1         0      1        2      8
2        5        76         1     -1         0      2        2      8
3        5        92         1     -1         0      3        2      8
4        5       198         1     -1         0      4        2      8
...    ...       ...       ...    ...       ...    ...      ...    ...
45206   17       977         3     -1         0  45206        0      9
45207   17       456         2     -1         0  45207        0      9
45208   17      1127         5    184         3  45208        0      9
45209   17       508         4     -1         0  45209        1      9
45210   17       361         2    188        11  45210        0      9

       poutcome  y
0             3  0
1             3  0
2             3  0
3             3  0
4             3  0
...         ... ..
45206         3  1
45207         3  1
45208         2  1
45209         3  0
45210         1  0

[45211 rows x 10 columns]

In [28]:
pd.DataFrame(df_final).head(10)

,day,duration,campaign,pdays,previous,index,contact,month,poutcome,y
0,5,261,1,-1,0,0,2,8,3,0
1,5,151,1,-1,0,1,2,8,3,0
2,5,76,1,-1,0,2,2,8,3,0
3,5,92,1,-1,0,3,2,8,3,0
4,5,198,1,-1,0,4,2,8,3,0
5,5,139,1,-1,0,5,2,8,3,0
6,5,217,1,-1,0,6,2,8,3,0
7,5,380,1,-1,0,7,2,8,3,0
8,5,50,1,-1,0,8,2,8,3,0
9,5,55,1,-1,0,9,2,8,3,0

In [29]:
complete_data_B.head(50)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,unknown,5,may,261,1,-1,0,unknown,no,0
1,unknown,5,may,151,1,-1,0,unknown,no,1
2,unknown,5,may,76,1,-1,0,unknown,no,2
3,unknown,5,may,92,1,-1,0,unknown,no,3
4,unknown,5,may,198,1,-1,0,unknown,no,4
5,unknown,5,may,139,1,-1,0,unknown,no,5
6,unknown,5,may,217,1,-1,0,unknown,no,6
7,unknown,5,may,380,1,-1,0,unknown,no,7
8,unknown,5,may,50,1,-1,0,unknown,no,8
9,unknown,5,may,55,1,-1,0,unknown,no,9
10,unknown,5,may,222,1,-1,0,unknown,no,10
11,unknown,5,may,137,1,-1,0,unknown,no,11
12,unknown,5,may,517,1,-1,0,unknown,no,12
13,unknown,5,may,71,1,-1,0,unknown,no,13
14,unknown,5,may,174,1,-1,0,unknown,no,14
15,unknown,5,may,353,1,-1,0,unknown,no,15
16,unknown,5,may,98,1,-1,0,unknown,no,16
17,unknown,5,may,38,1,-1,0,unknown,no,17
18,unknown,5,may,219,1,-1,0,unknown,no,18
19,unknown,5,may,54,1,-1,0,unknown,no,19
20,unknown,5,may,262,1,-1,0,unknown,no,20
21,unknown,5,may,164,1,-1,0,unknown,no,21
22,unknown,5,may,160,1,-1,0,unknown,no,22
23,unknown,5,may,342,1,-1,0,unknown,no,23
24,unknown,5,may,181,1,-1,0,unknown,no,24
25,unknown,5,may,172,1,-1,0,unknown,no,25
26,unknown,5,may,296,1,-1,0,unknown,no,26
27,unknown,5,may,127,1,-1,0,unknown,no,27
28,unknown,5,may,255,2,-1,0,unknown,no,28
29,unknown,5,may,348,1,-1,0,unknown,no,29
30,unknown,5,may,225,1,-1,0,unknown,no,30
31,unknown,5,may,230,1,-1,0,unknown,no,31
32,unknown,5,may,208,1,-1,0,unknown,no,32
33,unknown,5,may,226,1,-1,0,unknown,no,33
34,unknown,5,may,336,1,-1,0,unknown,no,34
35,unknown,5,may,242,1,-1,0,unknown,no,35
36,unknown,5,may,365,1,-1,0,unknown,no,36
37,unknown,5,may,1666,1,-1,0,unknown,no,37
38,unknown,5,may,577,1,-1,0,unknown,no,38
39,unknown,5,may,137,1,-1,0,unknown,no,39
40,unknown,5,may,160,1,-1,0,unknown,no,40
41,unknown,5,may,180,2,-1,0,unknown,no,41
42,unknown,5,may,22,1,-1,0,unknown,no,42
43,unknown,5,may,1492,1,-1,0,unknown,no,43
44,unknown,5,may,616,1,-1,0,unknown,no,44
45,unknown,5,may,242,1,-1,0,unknown,no,45
46,unknown,5,may,355,1,-1,0,unknown,no,46
47,unknown,5,may,225,2,-1,0,unknown,no,47
48,unknown,5,may,160,1,-1,0,unknown,no,48
49,unknown,5,may,363,1,-1,0,unknown,no,49

In [32]:
complete_data_B[1000:1010]

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
1000,unknown,7,may,164,1,-1,0,unknown,no,1000
1001,unknown,7,may,93,1,-1,0,unknown,no,1001
1002,unknown,7,may,912,2,-1,0,unknown,no,1002
1003,unknown,7,may,179,2,-1,0,unknown,no,1003
1004,unknown,7,may,485,1,-1,0,unknown,no,1004
1005,unknown,7,may,206,2,-1,0,unknown,no,1005
1006,unknown,7,may,311,1,-1,0,unknown,no,1006
1007,unknown,7,may,690,2,-1,0,unknown,no,1007
1008,unknown,7,may,362,1,-1,0,unknown,no,1008
1009,unknown,7,may,274,1,-1,0,unknown,no,1009

In [33]:
pd.DataFrame(df_final).tail(10)

,day,duration,campaign,pdays,previous,index,contact,month,poutcome,y
45201,17,226,1,184,4,45201,0,9,2,1
45202,17,224,1,-1,0,45202,0,9,3,1
45203,17,266,1,-1,0,45203,0,9,3,1
45204,17,300,1,40,8,45204,0,9,0,1
45205,17,386,2,-1,0,45205,0,9,3,1
45206,17,977,3,-1,0,45206,0,9,3,1
45207,17,456,2,-1,0,45207,0,9,3,1
45208,17,1127,5,184,3,45208,0,9,2,1
45209,17,508,4,-1,0,45209,1,9,3,0
45210,17,361,2,188,11,45210,0,9,1,0

In [34]:
complete_data_B.tail(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
45201,cellular,17,nov,226,1,184,4,success,yes,45201
45202,cellular,17,nov,224,1,-1,0,unknown,yes,45202
45203,cellular,17,nov,266,1,-1,0,unknown,yes,45203
45204,cellular,17,nov,300,1,40,8,failure,yes,45204
45205,cellular,17,nov,386,2,-1,0,unknown,yes,45205
45206,cellular,17,nov,977,3,-1,0,unknown,yes,45206
45207,cellular,17,nov,456,2,-1,0,unknown,yes,45207
45208,cellular,17,nov,1127,5,184,3,success,yes,45208
45209,telephone,17,nov,508,4,-1,0,unknown,no,45209
45210,cellular,17,nov,361,2,188,11,other,no,45210

In [37]:




# 转换回数据框
# df_encoded = pd.DataFrame(df_encoded.toarray(), columns=encoder.get_feature_names_out())
# 分离出连续列和分类列
df_categorical = complete_data_B.select_dtypes(include=['object'])
# 选择除了字符串列之外的所有列
df_non_object = complete_data_B.select_dtypes(exclude=['object'])

# 创建一个OneHotEncoder对象
encoder = OneHotEncoder()
# 转换数据框为NumPy数组并进行特征编码
df_encoded = encoder.fit_transform(df_categorical.values)
# 转换回数据框
df_encoded = pd.DataFrame(df_encoded.toarray(), columns=encoder.get_feature_names_out())
# 将分类列和连续列合并
df_final = pd.concat([df_non_object, df_encoded], axis=1)

print(df_final)

       day  duration  campaign  pdays  previous  index  x0_cellular  \
0        5       261         1     -1         0      0          0.0
1        5       151         1     -1         0      1          0.0
2        5        76         1     -1         0      2          0.0
3        5        92         1     -1         0      3          0.0
4        5       198         1     -1         0      4          0.0
...    ...       ...       ...    ...       ...    ...          ...
45206   17       977         3     -1         0  45206          1.0
45207   17       456         2     -1         0  45207          1.0
45208   17      1127         5    184         3  45208          1.0
45209   17       508         4     -1         0  45209          0.0
45210   17       361         2    188        11  45210          1.0

       x0_telephone  x0_unknown  x1_apr  ...  x1_may  x1_nov  x1_oct  x1_sep  \
0               0.0         1.0     0.0  ...     1.0     0.0     0.0     0.0
1               0.0         1.0     0.0  ...     1.0     0.0     0.0     0.0
2               0.0         1.0     0.0  ...     1.0     0.0     0.0     0.0
3               0.0         1.0     0.0  ...     1.0     0.0     0.0     0.0
4               0.0         1.0     0.0  ...     1.0     0.0     0.0     0.0
...             ...         ...     ...  ...     ...     ...     ...     ...
45206           0.0         0.0     0.0  ...     0.0     1.0     0.0     0.0
45207           0.0         0.0     0.0  ...     0.0     1.0     0.0     0.0
45208           0.0         0.0     0.0  ...     0.0     1.0     0.0     0.0
45209           1.0         0.0     0.0  ...     0.0     1.0     0.0     0.0
45210           0.0         0.0     0.0  ...     0.0     1.0     0.0     0.0

       x2_failure  x2_other  x2_success  x2_unknown  x3_no  x3_yes
0             0.0       0.0         0.0         1.0    1.0     0.0
1             0.0       0.0         0.0         1.0    1.0     0.0
2             0.0       0.0         0.0         1.0    1.0     0.0
3             0.0       0.0         0.0         1.0    1.0     0.0
4             0.0       0.0         0.0         1.0    1.0     0.0
...           ...       ...         ...         ...    ...     ...
45206         0.0       0.0         0.0         1.0    0.0     1.0
45207         0.0       0.0         0.0         1.0    0.0     1.0
45208         0.0       0.0         1.0         0.0    0.0     1.0
45209         0.0       0.0         0.0         1.0    1.0     0.0
45210         0.0       1.0         0.0         0.0    1.0     0.0

[45211 rows x 27 columns]

In [38]:
pd.DataFrame(df_final)

,day,duration,campaign,pdays,previous,index,x0_cellular,x0_telephone,x0_unknown,x1_apr,...,x1_may,x1_nov,x1_oct,x1_sep,x2_failure,x2_other,x2_success,x2_unknown,x3_no,x3_yes
0,5,261,1,-1,0,0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,5,151,1,-1,0,1,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,5,76,1,-1,0,2,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,5,92,1,-1,0,3,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,5,198,1,-1,0,4,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,17,977,3,-1,0,45206,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
45207,17,456,2,-1,0,45207,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
45208,17,1127,5,184,3,45208,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45209,17,508,4,-1,0,45209,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
45210,17,361,2,188,11,45210,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [39]:
# 归一化
def normalization(data, parameters=None):
    """
    Normalize data in [0, 1] range.

    Args:
      - data: original data

    Returns:
      - norm_data: normalized data
      - norm_parameters: min_val, max_val for each feature for renormalization
    """

    # Parameters
    _, dim = data.shape
    norm_data = data.copy()

    if parameters is None:

        # MixMax normalization
        min_val = np.zeros(dim)
        max_val = np.zeros(dim)

        # For each dimension
        for i in range(dim):
            min_val[i] = np.nanmin(norm_data[:, i])
            norm_data[:, i] = norm_data[:, i] - np.nanmin(norm_data[:, i])
            max_val[i] = np.nanmax(norm_data[:, i])
            norm_data[:, i] = norm_data[:, i] / (np.nanmax(norm_data[:, i]) + 1e-6)

            # Return norm_parameters for renormalization
        norm_parameters = {'min_val': min_val,
                           'max_val': max_val}

    else:
        min_val = parameters['min_val']
        max_val = parameters['max_val']

        # For each dimension
        for i in range(dim):
            norm_data[:, i] = norm_data[:, i] - min_val[i]
            norm_data[:, i] = norm_data[:, i] / (max_val[i] + 1e-6)

        norm_parameters = parameters

    return norm_data, norm_parameters

In [42]:
# Normalization 数据归一化处理
norm_data, norm_parameters = normalization(df_final.values)  # 归一化，在utils中已定义好

In [43]:
print(norm_data)

[[0.13333333 0.05307035 0.         ... 0.999999   0.999999   0.        ]
 [0.13333333 0.03070354 0.         ... 0.999999   0.999999   0.        ]
 [0.13333333 0.01545344 0.         ... 0.999999   0.999999   0.        ]
 ...
 [0.53333332 0.22915819 0.06451613 ... 0.         0.         0.999999  ]
 [0.53333332 0.10329402 0.0483871  ... 0.999999   0.999999   0.        ]
 [0.53333332 0.07340382 0.01612903 ... 0.         0.999999   0.        ]]

In [44]:
pd.DataFrame(norm_data)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.133333,0.053070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.999999,0.0,...,0.999999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
1,0.133333,0.030704,0.000000,0.000000,0.000000,0.000022,0.000000,0.000000,0.999999,0.0,...,0.999999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
2,0.133333,0.015453,0.000000,0.000000,0.000000,0.000044,0.000000,0.000000,0.999999,0.0,...,0.999999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
3,0.133333,0.018707,0.000000,0.000000,0.000000,0.000066,0.000000,0.000000,0.999999,0.0,...,0.999999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
4,0.133333,0.040260,0.000000,0.000000,0.000000,0.000088,0.000000,0.000000,0.999999,0.0,...,0.999999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.533333,0.198658,0.032258,0.000000,0.000000,0.999912,0.999999,0.000000,0.000000,0.0,...,0.000000,0.999999,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.000000,0.999999
45207,0.533333,0.092721,0.016129,0.000000,0.000000,0.999934,0.999999,0.000000,0.000000,0.0,...,0.000000,0.999999,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.000000,0.999999
45208,0.533333,0.229158,0.064516,0.212156,0.010909,0.999956,0.999999,0.000000,0.000000,0.0,...,0.000000,0.999999,0.0,0.0,0.0,0.000000,0.999999,0.000000,0.000000,0.999999
45209,0.533333,0.103294,0.048387,0.000000,0.000000,0.999978,0.000000,0.999999,0.000000,0.0,...,0.000000,0.999999,0.0,0.0,0.0,0.000000,0.000000,0.999999,0.999999,0.000000
45210,0.533333,0.073404,0.016129,0.216743,0.040000,1.000000,0.999999,0.000000,0.000000,0.0,...,0.000000,0.999999,0.0,0.0,0.0,0.999999,0.000000,0.000000,0.999999,0.000000

In [50]:
def oneHot(data):
    # 分离出连续列和分类列
    categorical=data.select_dtypes(include=['object'])
    # 选择除分类列之外的所有列
    numerical=data.select_dtypes(exclude=['object'])
    # 创建一个OneHotEncoder()对象
    encoder=OneHotEncoder()
    #转换数据框为NumPy数组并进行特征编码
    df_categorical_encoded=encoder.fit_transform(categorical.values)
    # 转换为数据框
    df_categorical_encoded=pd.DataFrame(df_categorical_encoded.toarray(),columns=encoder.get_feature_names_out())
    df_final_encoded=pd.concat([numerical,df_categorical_encoded],axis=1)
    return df_final_encoded

In [51]:
oneHot(complete_data_B)

,day,duration,campaign,pdays,previous,index,x0_cellular,x0_telephone,x0_unknown,x1_apr,...,x1_may,x1_nov,x1_oct,x1_sep,x2_failure,x2_other,x2_success,x2_unknown,x3_no,x3_yes
0,5,261,1,-1,0,0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,5,151,1,-1,0,1,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,5,76,1,-1,0,2,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,5,92,1,-1,0,3,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,5,198,1,-1,0,4,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,17,977,3,-1,0,45206,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
45207,17,456,2,-1,0,45207,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
45208,17,1127,5,184,3,45208,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45209,17,508,4,-1,0,45209,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
45210,17,361,2,188,11,45210,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [5]:

data_name = 'bank_data_B'
complete_data,incomplete_data,data_m=data_loader1(data_name,0.2)

In [54]:
incomplete_data.head()

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,unknown,5.0,may,261.0,1.0,-1.0,0.0,unknown,no,0.0
1,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
oneHot(incomplete_data)

,day,duration,campaign,pdays,previous,index,x0_cellular,x0_telephone,x0_unknown,x0_nan,...,x1_sep,x1_nan,x2_failure,x2_other,x2_success,x2_unknown,x2_nan,x3_no,x3_yes,x3_nan
0,5.0,261.0,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,5.0,151.0,1.0,-1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45207,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45208,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45209,17.0,508.0,4.0,-1.0,0.0,45209.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
45210,17.0,361.0,2.0,188.0,11.0,45210.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [58]:
categorical=incomplete_data.select_dtypes(include=['object'])
# 然后，我们进行one-hot编码，并忽略'NaN'值
df_encoded = pd.get_dummies(categorical, dummy_na=False)
df_encoded.head()

,contact_cellular,contact_telephone,contact_unknown,month_apr,month_aug,month_dec,month_feb,month_jan,month_jul,month_jun,...,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
1,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data=incomplete_data
# 分离出连续列和分类列
categorical=data.select_dtypes(include=['object'])
# 选择除分类列之外的所有列
numerical=data.select_dtypes(exclude=['object'])
# 创建一个OneHotEncoder()对象
encoder=OneHotEncoder()
    #转换数据框为NumPy数组并进行特征编码
    df_categorical_encoded=encoder.fit_transform(categorical.values)
    # 转换为数据框
    df_categorical_encoded=pd.DataFrame(df_categorical_encoded.toarray(),columns=encoder.get_feature_names_out())
    df_final_encoded=pd.concat([numerical,df_categorical_encoded],axis=1)
    return df_final_encoded

# 假设df是你的数据框，'column'是你要编码的列
# 首先，我们将NaN值填充为一个特殊的值
df['column'] = df['column'].fillna('NaN')

# 然后，我们进行one-hot编码，并忽略'NaN'值
df_encoded = pd.get_dummies(df, dummy_na=False)

# 最后，我们将'NaN'值转回为真正的NaN值
df_encoded.replace({'column_NaN': {1: pd.NA}}, inplace=True)

In [2]:
data_name = 'bank_data_B'
complete_data,incomplete_data=data_loader2(data_name,0.2)

E:\neural_network\VF-GAN\util\data_loader.py:47: UserWarning: you are shuffling a 'DataFrame' object which is not a subclass of 'Sequence'; `shuffle` is not guaranteed to behave correctly. E.g., non-numpy array/tensor objects with view semantics may contain duplicates after shuffling.
  np.random.shuffle(incomplete_data)

KeyError: 5721

In [3]:
def data_loader2(data_name, miss_rate):
    file_name = '../datasetsAB/' + data_name + '.csv'
    complete_data = pd.read_csv(file_name, sep=',')
    no, dim = complete_data.shape
    n = round(no * (1 - miss_rate))  # 根据缺失率得到舍弃的行数
    # 随机将行数丢弃
    incomplete_data = complete_data.drop(complete_data.sample(n).index)
    # incomplete_data = complete_data.drop(complete_data.sample(n).index)
    np.random.shuffle(incomplete_data)

    return complete_data, incomplete_data

In [6]:
complete_data.head(10)

   contact  day month  duration  campaign  pdays  previous poutcome   y  index
0  unknown    5   may       261         1     -1         0  unknown  no      0
1  unknown    5   may       151         1     -1         0  unknown  no      1
2  unknown    5   may        76         1     -1         0  unknown  no      2
3  unknown    5   may        92         1     -1         0  unknown  no      3
4  unknown    5   may       198         1     -1         0  unknown  no      4
5  unknown    5   may       139         1     -1         0  unknown  no      5
6  unknown    5   may       217         1     -1         0  unknown  no      6
7  unknown    5   may       380         1     -1         0  unknown  no      7
8  unknown    5   may        50         1     -1         0  unknown  no      8
9  unknown    5   may        55         1     -1         0  unknown  no      9

In [7]:
incomplete_data.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no,3.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
no, dim = complete_data.shape
n = round(no * (1 - 0.2))  # 根据缺失率得到舍弃的行数

In [10]:
# 随机将行数丢弃
incomplete_data = complete_data.drop(complete_data.sample(n).index)

In [12]:
incomplete_data.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
5,unknown,5,may,139,1,-1,0,unknown,no,5
8,unknown,5,may,50,1,-1,0,unknown,no,8
10,unknown,5,may,222,1,-1,0,unknown,no,10
17,unknown,5,may,38,1,-1,0,unknown,no,17
22,unknown,5,may,160,1,-1,0,unknown,no,22
24,unknown,5,may,181,1,-1,0,unknown,no,24
31,unknown,5,may,230,1,-1,0,unknown,no,31
37,unknown,5,may,1666,1,-1,0,unknown,no,37
40,unknown,5,may,160,1,-1,0,unknown,no,40
51,unknown,5,may,253,1,-1,0,unknown,no,51

In [13]:
incomplete_data.shape

(9042, 10)

In [11]:
# incomplete_data = complete_data.drop(complete_data.sample(n).index)
np.random.shuffle(incomplete_data)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_27612\3405978777.py:2: UserWarning: you are shuffling a 'DataFrame' object which is not a subclass of 'Sequence'; `shuffle` is not guaranteed to behave correctly. E.g., non-numpy array/tensor objects with view semantics may contain duplicates after shuffling.
  np.random.shuffle(incomplete_data)

KeyError: 7843

In [16]:
from data_loader import data_loader2
data_name = 'bank_data_B'
complete_data,incomplete_data=data_loader2(data_name,0.2)

E:\neural_network\VF-GAN\util\data_loader.py:47: UserWarning: you are shuffling a 'DataFrame' object which is not a subclass of 'Sequence'; `shuffle` is not guaranteed to behave correctly. E.g., non-numpy array/tensor objects with view semantics may contain duplicates after shuffling.
  np.random.shuffle(incomplete_data)

KeyError: 8538

In [17]:
def data_loader2(data_name, miss_rate):
    file_name = '../datasetsAB/' + data_name + '.csv'
    complete_data = pd.read_csv(file_name, sep=',')
    no, dim = complete_data.shape
    n = round(no * (1 - miss_rate))  # 根据缺失率得到舍弃的行数
    # 随机将行数丢弃
    incomplete_data = complete_data.drop(complete_data.sample(n).index)
    # incomplete_data = complete_data.drop(complete_data.sample(n).index)
    # np.random.shuffle(incomplete_data)

    return complete_data, incomplete_data

In [18]:
data_name = 'bank_data_B'
complete_data,incomplete_data=data_loader2(data_name,0.2)

In [19]:
incomplete_data.head(10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
1,unknown,5,may,151,1,-1,0,unknown,no,1
3,unknown,5,may,92,1,-1,0,unknown,no,3
5,unknown,5,may,139,1,-1,0,unknown,no,5
8,unknown,5,may,50,1,-1,0,unknown,no,8
12,unknown,5,may,517,1,-1,0,unknown,no,12
16,unknown,5,may,98,1,-1,0,unknown,no,16
17,unknown,5,may,38,1,-1,0,unknown,no,17
21,unknown,5,may,164,1,-1,0,unknown,no,21
25,unknown,5,may,172,1,-1,0,unknown,no,25
30,unknown,5,may,225,1,-1,0,unknown,no,30

In [20]:
incomplete_data.shape

(9042, 10)