找相关性最强的几列进行生成，然后进行填补

In [1]:
import pandas as pd
import numpy as np

# 数据集处理

设置缺失的行占比率，然后得到单方的缺失数据集

In [2]:
from util.data_loader import data_loader2
data_name='bank_data_B'
miss_rate=0.5
complete_data_B,incomplete_data_B=data_loader2(data_name,miss_rate)

In [3]:
print(complete_data_B.shape)
print(incomplete_data_B.shape)

(45211, 10)
(22605, 10)

# CTGAN生成

选出分类列，然后利用CTGAN进行生成

In [4]:
discrete_columns=incomplete_data_B.select_dtypes(include=['object'])

In [5]:
from ctgan import CTGAN
ctgan = CTGAN(epochs=10)
ctgan.fit(incomplete_data_B,discrete_columns)

D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(

In [6]:
len1=complete_data_B.shape[0]
len2=incomplete_data_B.shape[0]
print(len1)
print(len2)

45211
22605

In [7]:
# Create synthetic data
# synthetic_data = ctgan.sample(len1-len2)
# 生成数据
synthetic_data = ctgan.sample(len1)

In [8]:
print(synthetic_data.shape)
synthetic_data.head(10)

(45211, 10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,unknown,30,nov,362,19,-1,2,other,no,32117
1,telephone,31,may,450,1,-3,0,other,no,39581
2,cellular,14,apr,255,1,153,4,failure,no,38026
3,cellular,12,sep,875,1,-1,2,unknown,no,29456
4,unknown,19,jun,143,3,1,2,other,no,22536
5,cellular,27,apr,1688,2,-2,1,other,yes,12039
6,unknown,26,nov,423,2,-1,0,unknown,no,33780
7,telephone,21,dec,234,1,-2,2,unknown,no,27214
8,cellular,14,nov,122,8,-2,2,success,no,35521
9,unknown,7,apr,136,5,145,2,failure,no,23240

In [9]:
print(incomplete_data_B.shape)
incomplete_data_B.head(50)

(22605, 10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
2,unknown,5,may,76,1,-1,0,unknown,no,2
3,unknown,5,may,92,1,-1,0,unknown,no,3
6,unknown,5,may,217,1,-1,0,unknown,no,6
12,unknown,5,may,517,1,-1,0,unknown,no,12
14,unknown,5,may,174,1,-1,0,unknown,no,14
15,unknown,5,may,353,1,-1,0,unknown,no,15
17,unknown,5,may,38,1,-1,0,unknown,no,17
19,unknown,5,may,54,1,-1,0,unknown,no,19
20,unknown,5,may,262,1,-1,0,unknown,no,20
23,unknown,5,may,342,1,-1,0,unknown,no,23
28,unknown,5,may,255,2,-1,0,unknown,no,28
30,unknown,5,may,225,1,-1,0,unknown,no,30
33,unknown,5,may,226,1,-1,0,unknown,no,33
35,unknown,5,may,242,1,-1,0,unknown,no,35
36,unknown,5,may,365,1,-1,0,unknown,no,36
43,unknown,5,may,1492,1,-1,0,unknown,no,43
46,unknown,5,may,355,1,-1,0,unknown,no,46
47,unknown,5,may,225,2,-1,0,unknown,no,47
48,unknown,5,may,160,1,-1,0,unknown,no,48
49,unknown,5,may,363,1,-1,0,unknown,no,49
51,unknown,5,may,253,1,-1,0,unknown,no,51
52,unknown,5,may,179,1,-1,0,unknown,no,52
53,unknown,5,may,787,1,-1,0,unknown,no,53
56,unknown,5,may,104,1,-1,0,unknown,no,56
57,unknown,5,may,13,1,-1,0,unknown,no,57
58,unknown,5,may,185,1,-1,0,unknown,no,58
59,unknown,5,may,1778,1,-1,0,unknown,no,59
60,unknown,5,may,138,1,-1,0,unknown,no,60
61,unknown,5,may,812,1,-1,0,unknown,no,61
63,unknown,5,may,391,1,-1,0,unknown,no,63
64,unknown,5,may,357,1,-1,0,unknown,no,64
68,unknown,5,may,158,2,-1,0,unknown,no,68
69,unknown,5,may,177,1,-1,0,unknown,no,69
70,unknown,5,may,258,1,-1,0,unknown,no,70
71,unknown,5,may,172,1,-1,0,unknown,no,71
72,unknown,5,may,154,1,-1,0,unknown,no,72
73,unknown,5,may,291,1,-1,0,unknown,no,73
74,unknown,5,may,181,1,-1,0,unknown,no,74
75,unknown,5,may,176,1,-1,0,unknown,no,75
77,unknown,5,may,349,1,-1,0,unknown,no,77
78,unknown,5,may,272,1,-1,0,unknown,no,78
82,unknown,5,may,20,1,-1,0,unknown,no,82
83,unknown,5,may,1042,1,-1,0,unknown,yes,83
84,unknown,5,may,246,1,-1,0,unknown,no,84
89,unknown,5,may,180,2,-1,0,unknown,no,89
90,unknown,5,may,48,1,-1,0,unknown,no,90
97,unknown,5,may,101,1,-1,0,unknown,no,97
98,unknown,5,may,203,1,-1,0,unknown,no,98
99,unknown,5,may,197,1,-1,0,unknown,no,99
104,unknown,5,may,400,1,-1,0,unknown,no,104

生成的数据中保留相关性强的几列的数据，丢弃其他数据

In [10]:
correlation_columns_to_keep=['previous','pdays','poutcome']
# 创建一个新的DataFrame，保留要保留的列，其他列设为NaN
correlation_synthetic_data = synthetic_data.copy()

# correlation_synthetic_data=pd.DataFrame(correlation_synthetic_data)
correlation_synthetic_data.shape

(45211, 10)

In [11]:
for column in correlation_synthetic_data.columns:
    if column not in correlation_columns_to_keep:
        correlation_synthetic_data[column] = np.nan

In [12]:
print(correlation_synthetic_data.shape)
correlation_synthetic_data.head(10)

(45211, 10)

,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,NaN,NaN,NaN,NaN,NaN,-1,2,other,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,-3,0,other,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,153,4,failure,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,-1,2,unknown,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1,2,other,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,-2,1,other,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,-1,0,unknown,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,-2,2,unknown,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,-2,2,success,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,145,2,failure,NaN,NaN

# 得到A方完整数据集和B方生成后的数据集

In [13]:
complete_data_A = pd.read_csv('datasetsAB/bank_data_A.csv', sep=',')
complete_data_A.shape

(45211, 9)

In [14]:
incomplete_data_B.shape

(22605, 10)

In [15]:
# 假设A和B是你的DataFrame，你想保留A中的重复列
aligned_df = complete_data_A.merge(incomplete_data_B, left_index=True, right_index=True, how='outer', suffixes=('_keep', '_drop'))

# 删除B中的重复列
columns_to_drop = [column for column in aligned_df.columns if '_drop' in column]
aligned_df = aligned_df.drop(columns_to_drop, axis=1)

# 删除列名中的后缀
aligned_df.columns = aligned_df.columns.str.replace('_keep', '')

In [16]:
print(aligned_df.shape)
aligned_df.head(50)

(45211, 18)

,age,job,marital,education,default,balance,housing,loan,index,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44,technician,single,secondary,no,29,yes,no,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,2,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,3,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,35,management,married,tertiary,no,231,yes,no,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28,management,single,tertiary,no,447,yes,yes,6,unknown,5.0,may,217.0,1.0,-1.0,0.0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,58,retired,married,primary,no,121,yes,no,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,43,technician,single,secondary,no,593,yes,no,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,41,admin.,divorced,secondary,no,270,yes,no,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,29,admin.,single,secondary,no,390,yes,no,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,53,technician,married,secondary,no,6,yes,no,12,unknown,5.0,may,517.0,1.0,-1.0,0.0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,57,services,married,secondary,no,162,yes,no,14,unknown,5.0,may,174.0,1.0,-1.0,0.0,unknown,no
15,51,retired,married,primary,no,229,yes,no,15,unknown,5.0,may,353.0,1.0,-1.0,0.0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,57,blue-collar,married,primary,no,52,yes,no,17,unknown,5.0,may,38.0,1.0,-1.0,0.0,unknown,no
18,60,retired,married,primary,no,60,yes,no,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,33,services,married,secondary,no,0,yes,no,19,unknown,5.0,may,54.0,1.0,-1.0,0.0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,20,unknown,5.0,may,262.0,1.0,-1.0,0.0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,32,blue-collar,single,primary,no,23,yes,yes,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,services,married,secondary,no,50,yes,no,23,unknown,5.0,may,342.0,1.0,-1.0,0.0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,44,admin.,married,secondary,no,-372,yes,no,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,39,management,single,tertiary,no,255,yes,no,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,52,entrepreneur,married,secondary,no,113,yes,yes,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,46,management,single,secondary,no,-246,yes,no,28,unknown,5.0,may,255.0,2.0,-1.0,0.0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,57,technician,married,secondary,no,839,no,yes,30,unknown,5.0,may,225.0,1.0,-1.0,0.0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,60,admin.,married,secondary,no,39,yes,yes,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,59,blue-collar,married,secondary,no,0,yes,no,33,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,57,technician,divorced,secondary,no,63,yes,no,35,unknown,5.0,may,242.0,1.0,-1.0,0.0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,36,unknown,5.0,may,365.0,1.0,-1.0,0.0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,36,admin.,divorced,secondary,no,506,yes,no,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,37,admin.,single,secondary,no,0,yes,no,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,44,services,divorced,secondary,no,2586,yes,no,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,50,management,married,secondary,no,49,yes,no,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,60,blue-collar,married,unknown,no,104,yes,no,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,54,retired,married,secondary,no,529,yes,no,43,unknown,5.0,may,1492.0,1.0,-1.0,0.0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,36,admin.,single,primary,no,-171,yes,no,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,58,self-employed,married,tertiary,no,-364,yes,no,46,unknown,5.0,may,355.0,1.0,-1.0,0.0,unknown,no
47,44,technician,married,secondary,no,0,yes,no,47,unknown,5.0,may,225.0,2.0,-1.0,0.0,unknown,no
48,55,technician,divorced,secondary,no,0,no,no,48,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no
49,29,management,single,tertiary,no,0,yes,no,49,unknown,5.0,may,363.0,1.0,-1.0,0.0,unknown,no

In [17]:
# 假设df1和df2是你的两个DataFrame
aligned_df_new = aligned_df.combine_first(correlation_synthetic_data)

In [18]:
aligned_df_new=aligned_df_new.drop('y',axis=1)
print(aligned_df_new.shape)
aligned_df_new.head(50)

(45211, 17)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58,2143,NaN,NaN,NaN,no,NaN,tertiary,yes,0,management,no,married,NaN,-1.0,other,2.0
1,44,29,NaN,NaN,NaN,no,NaN,secondary,yes,1,technician,no,single,NaN,-3.0,other,0.0
2,33,2,1.0,unknown,5.0,no,76.0,secondary,yes,2,entrepreneur,yes,married,may,-1.0,unknown,0.0
3,47,1506,1.0,unknown,5.0,no,92.0,unknown,yes,3,blue-collar,no,married,may,-1.0,unknown,0.0
4,33,1,NaN,NaN,NaN,no,NaN,unknown,no,4,unknown,no,single,NaN,1.0,other,2.0
5,35,231,NaN,NaN,NaN,no,NaN,tertiary,yes,5,management,no,married,NaN,-2.0,other,1.0
6,28,447,1.0,unknown,5.0,no,217.0,tertiary,yes,6,management,yes,single,may,-1.0,unknown,0.0
7,42,2,NaN,NaN,NaN,yes,NaN,tertiary,yes,7,entrepreneur,no,divorced,NaN,-2.0,unknown,2.0
8,58,121,NaN,NaN,NaN,no,NaN,primary,yes,8,retired,no,married,NaN,-2.0,success,2.0
9,43,593,NaN,NaN,NaN,no,NaN,secondary,yes,9,technician,no,single,NaN,145.0,failure,2.0
10,41,270,NaN,NaN,NaN,no,NaN,secondary,yes,10,admin.,no,divorced,NaN,-1.0,unknown,0.0
11,29,390,NaN,NaN,NaN,no,NaN,secondary,yes,11,admin.,no,single,NaN,-2.0,success,2.0
12,53,6,1.0,unknown,5.0,no,517.0,secondary,yes,12,technician,no,married,may,-1.0,unknown,0.0
13,58,71,NaN,NaN,NaN,no,NaN,unknown,yes,13,technician,no,married,NaN,-2.0,unknown,0.0
14,57,162,1.0,unknown,5.0,no,174.0,secondary,yes,14,services,no,married,may,-1.0,unknown,0.0
15,51,229,1.0,unknown,5.0,no,353.0,primary,yes,15,retired,no,married,may,-1.0,unknown,0.0
16,45,13,NaN,NaN,NaN,no,NaN,unknown,yes,16,admin.,no,single,NaN,3.0,unknown,3.0
17,57,52,1.0,unknown,5.0,no,38.0,primary,yes,17,blue-collar,no,married,may,-1.0,unknown,0.0
18,60,60,NaN,NaN,NaN,no,NaN,primary,yes,18,retired,no,married,NaN,-3.0,unknown,0.0
19,33,0,1.0,unknown,5.0,no,54.0,secondary,yes,19,services,no,married,may,-1.0,unknown,0.0
20,28,723,1.0,unknown,5.0,no,262.0,secondary,yes,20,blue-collar,yes,married,may,-1.0,unknown,0.0
21,56,779,NaN,NaN,NaN,no,NaN,tertiary,yes,21,management,no,married,NaN,-1.0,unknown,2.0
22,32,23,NaN,NaN,NaN,no,NaN,primary,yes,22,blue-collar,yes,single,NaN,-1.0,failure,0.0
23,25,50,1.0,unknown,5.0,no,342.0,secondary,yes,23,services,no,married,may,-1.0,unknown,0.0
24,40,0,NaN,NaN,NaN,no,NaN,primary,yes,24,retired,yes,married,NaN,-1.0,unknown,1.0
25,44,-372,NaN,NaN,NaN,no,NaN,secondary,yes,25,admin.,no,married,NaN,-1.0,other,2.0
26,39,255,NaN,NaN,NaN,no,NaN,tertiary,yes,26,management,no,single,NaN,44.0,other,0.0
27,52,113,NaN,NaN,NaN,no,NaN,secondary,yes,27,entrepreneur,yes,married,NaN,-2.0,unknown,1.0
28,46,-246,2.0,unknown,5.0,no,255.0,secondary,yes,28,management,no,single,may,-1.0,unknown,0.0
29,36,265,NaN,NaN,NaN,no,NaN,secondary,yes,29,technician,yes,single,NaN,-4.0,failure,2.0
30,57,839,1.0,unknown,5.0,no,225.0,secondary,no,30,technician,yes,married,may,-1.0,unknown,0.0
31,49,378,NaN,NaN,NaN,no,NaN,tertiary,yes,31,management,no,married,NaN,178.0,other,0.0
32,60,39,NaN,NaN,NaN,no,NaN,secondary,yes,32,admin.,yes,married,NaN,-4.0,other,2.0
33,59,0,1.0,unknown,5.0,no,226.0,secondary,yes,33,blue-collar,no,married,may,-1.0,unknown,0.0
34,51,10635,NaN,NaN,NaN,no,NaN,tertiary,yes,34,management,no,married,NaN,-3.0,other,1.0
35,57,63,1.0,unknown,5.0,no,242.0,secondary,yes,35,technician,no,divorced,may,-1.0,unknown,0.0
36,25,-7,1.0,unknown,5.0,no,365.0,secondary,yes,36,blue-collar,no,married,may,-1.0,unknown,0.0
37,53,-3,NaN,NaN,NaN,no,NaN,secondary,no,37,technician,no,married,NaN,1.0,failure,2.0
38,36,506,NaN,NaN,NaN,no,NaN,secondary,yes,38,admin.,no,divorced,NaN,331.0,failure,0.0
39,37,0,NaN,NaN,NaN,no,NaN,secondary,yes,39,admin.,no,single,NaN,0.0,unknown,0.0
40,44,2586,NaN,NaN,NaN,no,NaN,secondary,yes,40,services,no,divorced,NaN,-2.0,unknown,3.0
41,50,49,NaN,NaN,NaN,no,NaN,secondary,yes,41,management,no,married,NaN,-1.0,failure,0.0
42,60,104,NaN,NaN,NaN,no,NaN,unknown,yes,42,blue-collar,no,married,NaN,-3.0,other,1.0
43,54,529,1.0,unknown,5.0,no,1492.0,secondary,yes,43,retired,no,married,may,-1.0,unknown,0.0
44,58,96,NaN,NaN,NaN,no,NaN,unknown,yes,44,retired,no,married,NaN,-2.0,unknown,0.0
45,36,-171,NaN,NaN,NaN,no,NaN,primary,yes,45,admin.,no,single,NaN,-2.0,unknown,1.0
46,58,-364,1.0,unknown,5.0,no,355.0,tertiary,yes,46,self-employed,no,married,may,-1.0,unknown,0.0
47,44,0,2.0,unknown,5.0,no,225.0,secondary,yes,47,technician,no,married,may,-1.0,unknown,0.0
48,55,0,1.0,unknown,5.0,no,160.0,secondary,no,48,technician,no,divorced,may,-1.0,unknown,0.0
49,29,0,1.0,unknown,5.0,no,363.0,tertiary,yes,49,management,no,single,may,-1.0,unknown,0.0

# 编码

In [19]:
aligned_df_new_encode=aligned_df_new.copy()
aligned_df_new_encode.head(50)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58,2143,NaN,NaN,NaN,no,NaN,tertiary,yes,0,management,no,married,NaN,-1.0,other,2.0
1,44,29,NaN,NaN,NaN,no,NaN,secondary,yes,1,technician,no,single,NaN,-3.0,other,0.0
2,33,2,1.0,unknown,5.0,no,76.0,secondary,yes,2,entrepreneur,yes,married,may,-1.0,unknown,0.0
3,47,1506,1.0,unknown,5.0,no,92.0,unknown,yes,3,blue-collar,no,married,may,-1.0,unknown,0.0
4,33,1,NaN,NaN,NaN,no,NaN,unknown,no,4,unknown,no,single,NaN,1.0,other,2.0
5,35,231,NaN,NaN,NaN,no,NaN,tertiary,yes,5,management,no,married,NaN,-2.0,other,1.0
6,28,447,1.0,unknown,5.0,no,217.0,tertiary,yes,6,management,yes,single,may,-1.0,unknown,0.0
7,42,2,NaN,NaN,NaN,yes,NaN,tertiary,yes,7,entrepreneur,no,divorced,NaN,-2.0,unknown,2.0
8,58,121,NaN,NaN,NaN,no,NaN,primary,yes,8,retired,no,married,NaN,-2.0,success,2.0
9,43,593,NaN,NaN,NaN,no,NaN,secondary,yes,9,technician,no,single,NaN,145.0,failure,2.0
10,41,270,NaN,NaN,NaN,no,NaN,secondary,yes,10,admin.,no,divorced,NaN,-1.0,unknown,0.0
11,29,390,NaN,NaN,NaN,no,NaN,secondary,yes,11,admin.,no,single,NaN,-2.0,success,2.0
12,53,6,1.0,unknown,5.0,no,517.0,secondary,yes,12,technician,no,married,may,-1.0,unknown,0.0
13,58,71,NaN,NaN,NaN,no,NaN,unknown,yes,13,technician,no,married,NaN,-2.0,unknown,0.0
14,57,162,1.0,unknown,5.0,no,174.0,secondary,yes,14,services,no,married,may,-1.0,unknown,0.0
15,51,229,1.0,unknown,5.0,no,353.0,primary,yes,15,retired,no,married,may,-1.0,unknown,0.0
16,45,13,NaN,NaN,NaN,no,NaN,unknown,yes,16,admin.,no,single,NaN,3.0,unknown,3.0
17,57,52,1.0,unknown,5.0,no,38.0,primary,yes,17,blue-collar,no,married,may,-1.0,unknown,0.0
18,60,60,NaN,NaN,NaN,no,NaN,primary,yes,18,retired,no,married,NaN,-3.0,unknown,0.0
19,33,0,1.0,unknown,5.0,no,54.0,secondary,yes,19,services,no,married,may,-1.0,unknown,0.0
20,28,723,1.0,unknown,5.0,no,262.0,secondary,yes,20,blue-collar,yes,married,may,-1.0,unknown,0.0
21,56,779,NaN,NaN,NaN,no,NaN,tertiary,yes,21,management,no,married,NaN,-1.0,unknown,2.0
22,32,23,NaN,NaN,NaN,no,NaN,primary,yes,22,blue-collar,yes,single,NaN,-1.0,failure,0.0
23,25,50,1.0,unknown,5.0,no,342.0,secondary,yes,23,services,no,married,may,-1.0,unknown,0.0
24,40,0,NaN,NaN,NaN,no,NaN,primary,yes,24,retired,yes,married,NaN,-1.0,unknown,1.0
25,44,-372,NaN,NaN,NaN,no,NaN,secondary,yes,25,admin.,no,married,NaN,-1.0,other,2.0
26,39,255,NaN,NaN,NaN,no,NaN,tertiary,yes,26,management,no,single,NaN,44.0,other,0.0
27,52,113,NaN,NaN,NaN,no,NaN,secondary,yes,27,entrepreneur,yes,married,NaN,-2.0,unknown,1.0
28,46,-246,2.0,unknown,5.0,no,255.0,secondary,yes,28,management,no,single,may,-1.0,unknown,0.0
29,36,265,NaN,NaN,NaN,no,NaN,secondary,yes,29,technician,yes,single,NaN,-4.0,failure,2.0
30,57,839,1.0,unknown,5.0,no,225.0,secondary,no,30,technician,yes,married,may,-1.0,unknown,0.0
31,49,378,NaN,NaN,NaN,no,NaN,tertiary,yes,31,management,no,married,NaN,178.0,other,0.0
32,60,39,NaN,NaN,NaN,no,NaN,secondary,yes,32,admin.,yes,married,NaN,-4.0,other,2.0
33,59,0,1.0,unknown,5.0,no,226.0,secondary,yes,33,blue-collar,no,married,may,-1.0,unknown,0.0
34,51,10635,NaN,NaN,NaN,no,NaN,tertiary,yes,34,management,no,married,NaN,-3.0,other,1.0
35,57,63,1.0,unknown,5.0,no,242.0,secondary,yes,35,technician,no,divorced,may,-1.0,unknown,0.0
36,25,-7,1.0,unknown,5.0,no,365.0,secondary,yes,36,blue-collar,no,married,may,-1.0,unknown,0.0
37,53,-3,NaN,NaN,NaN,no,NaN,secondary,no,37,technician,no,married,NaN,1.0,failure,2.0
38,36,506,NaN,NaN,NaN,no,NaN,secondary,yes,38,admin.,no,divorced,NaN,331.0,failure,0.0
39,37,0,NaN,NaN,NaN,no,NaN,secondary,yes,39,admin.,no,single,NaN,0.0,unknown,0.0
40,44,2586,NaN,NaN,NaN,no,NaN,secondary,yes,40,services,no,divorced,NaN,-2.0,unknown,3.0
41,50,49,NaN,NaN,NaN,no,NaN,secondary,yes,41,management,no,married,NaN,-1.0,failure,0.0
42,60,104,NaN,NaN,NaN,no,NaN,unknown,yes,42,blue-collar,no,married,NaN,-3.0,other,1.0
43,54,529,1.0,unknown,5.0,no,1492.0,secondary,yes,43,retired,no,married,may,-1.0,unknown,0.0
44,58,96,NaN,NaN,NaN,no,NaN,unknown,yes,44,retired,no,married,NaN,-2.0,unknown,0.0
45,36,-171,NaN,NaN,NaN,no,NaN,primary,yes,45,admin.,no,single,NaN,-2.0,unknown,1.0
46,58,-364,1.0,unknown,5.0,no,355.0,tertiary,yes,46,self-employed,no,married,may,-1.0,unknown,0.0
47,44,0,2.0,unknown,5.0,no,225.0,secondary,yes,47,technician,no,married,may,-1.0,unknown,0.0
48,55,0,1.0,unknown,5.0,no,160.0,secondary,no,48,technician,no,divorced,may,-1.0,unknown,0.0
49,29,0,1.0,unknown,5.0,no,363.0,tertiary,yes,49,management,no,single,may,-1.0,unknown,0.0

对分类列进行标签编码

In [20]:

from sklearn.preprocessing import LabelEncoder
# 创建一个标签编码器
le = LabelEncoder()
# 对每一列进行检查
for col in aligned_df_new_encode.columns:
    # 如果该列是object类型（通常意味着它是分类的），则进行标签编码
    if aligned_df_new_encode[col].dtype == 'object':
        # 若该列有NaN值，将NaN值转换为“NaN”字符串
        # if aligned_df_new_encode[col].isnull().any():
        #    aligned_df_new_encode[col]=aligned_df_new_encode.fillna('NaN')
         # 保存原始的NaN值位置
        nan_idx=aligned_df_new_encode[col].isnull()
        # 进行特征编码，并不对nan值进行编码
        aligned_df_new_encode.loc[~nan_idx,col] =le.fit_transform(aligned_df_new_encode.loc[~nan_idx,col])
        #aligned_df_new_encode[col] =le.fit_transform(aligned_df_new_encode[col])
        # 将“NaN”字符串对应的编码再次转换回NaN
        # aligned_df_new_encode[col]=aligned_df_new_encode[col].replace(le.transform(['NaN'])[0], np.nan)

In [21]:
print(aligned_df_new_encode.shape)
aligned_df_new_encode.head(50)

(45211, 17)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58,2143,NaN,NaN,NaN,0,NaN,2,1,0,4,0,1,NaN,-1.0,1,2.0
1,44,29,NaN,NaN,NaN,0,NaN,1,1,1,9,0,2,NaN,-3.0,1,0.0
2,33,2,1.0,2,5.0,0,76.0,1,1,2,2,1,1,8,-1.0,3,0.0
3,47,1506,1.0,2,5.0,0,92.0,3,1,3,1,0,1,8,-1.0,3,0.0
4,33,1,NaN,NaN,NaN,0,NaN,3,0,4,11,0,2,NaN,1.0,1,2.0
5,35,231,NaN,NaN,NaN,0,NaN,2,1,5,4,0,1,NaN,-2.0,1,1.0
6,28,447,1.0,2,5.0,0,217.0,2,1,6,4,1,2,8,-1.0,3,0.0
7,42,2,NaN,NaN,NaN,1,NaN,2,1,7,2,0,0,NaN,-2.0,3,2.0
8,58,121,NaN,NaN,NaN,0,NaN,0,1,8,5,0,1,NaN,-2.0,2,2.0
9,43,593,NaN,NaN,NaN,0,NaN,1,1,9,9,0,2,NaN,145.0,0,2.0
10,41,270,NaN,NaN,NaN,0,NaN,1,1,10,0,0,0,NaN,-1.0,3,0.0
11,29,390,NaN,NaN,NaN,0,NaN,1,1,11,0,0,2,NaN,-2.0,2,2.0
12,53,6,1.0,2,5.0,0,517.0,1,1,12,9,0,1,8,-1.0,3,0.0
13,58,71,NaN,NaN,NaN,0,NaN,3,1,13,9,0,1,NaN,-2.0,3,0.0
14,57,162,1.0,2,5.0,0,174.0,1,1,14,7,0,1,8,-1.0,3,0.0
15,51,229,1.0,2,5.0,0,353.0,0,1,15,5,0,1,8,-1.0,3,0.0
16,45,13,NaN,NaN,NaN,0,NaN,3,1,16,0,0,2,NaN,3.0,3,3.0
17,57,52,1.0,2,5.0,0,38.0,0,1,17,1,0,1,8,-1.0,3,0.0
18,60,60,NaN,NaN,NaN,0,NaN,0,1,18,5,0,1,NaN,-3.0,3,0.0
19,33,0,1.0,2,5.0,0,54.0,1,1,19,7,0,1,8,-1.0,3,0.0
20,28,723,1.0,2,5.0,0,262.0,1,1,20,1,1,1,8,-1.0,3,0.0
21,56,779,NaN,NaN,NaN,0,NaN,2,1,21,4,0,1,NaN,-1.0,3,2.0
22,32,23,NaN,NaN,NaN,0,NaN,0,1,22,1,1,2,NaN,-1.0,0,0.0
23,25,50,1.0,2,5.0,0,342.0,1,1,23,7,0,1,8,-1.0,3,0.0
24,40,0,NaN,NaN,NaN,0,NaN,0,1,24,5,1,1,NaN,-1.0,3,1.0
25,44,-372,NaN,NaN,NaN,0,NaN,1,1,25,0,0,1,NaN,-1.0,1,2.0
26,39,255,NaN,NaN,NaN,0,NaN,2,1,26,4,0,2,NaN,44.0,1,0.0
27,52,113,NaN,NaN,NaN,0,NaN,1,1,27,2,1,1,NaN,-2.0,3,1.0
28,46,-246,2.0,2,5.0,0,255.0,1,1,28,4,0,2,8,-1.0,3,0.0
29,36,265,NaN,NaN,NaN,0,NaN,1,1,29,9,1,2,NaN,-4.0,0,2.0
30,57,839,1.0,2,5.0,0,225.0,1,0,30,9,1,1,8,-1.0,3,0.0
31,49,378,NaN,NaN,NaN,0,NaN,2,1,31,4,0,1,NaN,178.0,1,0.0
32,60,39,NaN,NaN,NaN,0,NaN,1,1,32,0,1,1,NaN,-4.0,1,2.0
33,59,0,1.0,2,5.0,0,226.0,1,1,33,1,0,1,8,-1.0,3,0.0
34,51,10635,NaN,NaN,NaN,0,NaN,2,1,34,4,0,1,NaN,-3.0,1,1.0
35,57,63,1.0,2,5.0,0,242.0,1,1,35,9,0,0,8,-1.0,3,0.0
36,25,-7,1.0,2,5.0,0,365.0,1,1,36,1,0,1,8,-1.0,3,0.0
37,53,-3,NaN,NaN,NaN,0,NaN,1,0,37,9,0,1,NaN,1.0,0,2.0
38,36,506,NaN,NaN,NaN,0,NaN,1,1,38,0,0,0,NaN,331.0,0,0.0
39,37,0,NaN,NaN,NaN,0,NaN,1,1,39,0,0,2,NaN,0.0,3,0.0
40,44,2586,NaN,NaN,NaN,0,NaN,1,1,40,7,0,0,NaN,-2.0,3,3.0
41,50,49,NaN,NaN,NaN,0,NaN,1,1,41,4,0,1,NaN,-1.0,0,0.0
42,60,104,NaN,NaN,NaN,0,NaN,3,1,42,1,0,1,NaN,-3.0,1,1.0
43,54,529,1.0,2,5.0,0,1492.0,1,1,43,5,0,1,8,-1.0,3,0.0
44,58,96,NaN,NaN,NaN,0,NaN,3,1,44,5,0,1,NaN,-2.0,3,0.0
45,36,-171,NaN,NaN,NaN,0,NaN,0,1,45,0,0,2,NaN,-2.0,3,1.0
46,58,-364,1.0,2,5.0,0,355.0,2,1,46,6,0,1,8,-1.0,3,0.0
47,44,0,2.0,2,5.0,0,225.0,1,1,47,9,0,1,8,-1.0,3,0.0
48,55,0,1.0,2,5.0,0,160.0,1,0,48,9,0,0,8,-1.0,3,0.0
49,29,0,1.0,2,5.0,0,363.0,2,1,49,4,0,2,8,-1.0,3,0.0

In [22]:
print(aligned_df_new_encode.dtypes)

age            int64
balance        int64
campaign     float64
contact       object
day          float64
default       object
duration     float64
education     object
housing       object
index          int64
job           object
loan          object
marital       object
month         object
pdays        float64
poutcome      object
previous     float64
dtype: object

In [23]:
# 使用  填充 NaN
aligned_df_new_encode= aligned_df_new_encode.fillna(-9999.999)
print(aligned_df_new_encode.dtypes)

age            int64
balance        int64
campaign     float64
contact      float64
day          float64
default        int64
duration     float64
education      int64
housing        int64
index          int64
job            int64
loan           int64
marital        int64
month        float64
pdays        float64
poutcome       int64
previous     float64
dtype: object

In [24]:
aligned_df_new_encode[aligned_df_new_encode == -9999.999] = np.nan
print(aligned_df_new_encode.dtypes)

age            int64
balance        int64
campaign     float64
contact      float64
day          float64
default        int64
duration     float64
education      int64
housing        int64
index          int64
job            int64
loan           int64
marital        int64
month        float64
pdays        float64
poutcome       int64
previous     float64
dtype: object

In [25]:
# aligned_df_new_encode.to_csv('datasetsAB/aligned_df_new_encode.csv', index=False)

# 获得原始数据集并对其进行相同编码

In [26]:
# 假设bank_data是原始数据集
bank_data = pd.read_csv('datasets/bank.csv',sep=';')
bank_data['index']=range(0,len(bank_data))
bank_data=bank_data.drop('y',axis=1)
print(bank_data.shape)
bank_data.head(10)

(45211, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,index
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,2
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,3
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,4
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,5
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,6
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,7
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,8
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,9

In [27]:
bank_data_encode=bank_data.copy()
# 对每一列进行检查
for col in bank_data_encode.columns:
    # 如果该列是object类型（通常意味着它是分类的），则进行标签编码
    if bank_data_encode[col].dtype == 'object':

        bank_data_encode[col] =le.fit_transform(bank_data_encode[col])
bank_data_encode.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,index
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,1
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,2
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,4
5,35,4,1,2,0,231,1,0,2,5,8,139,1,-1,0,3,5
6,28,4,2,2,0,447,1,1,2,5,8,217,1,-1,0,3,6
7,42,2,0,2,1,2,1,0,2,5,8,380,1,-1,0,3,7
8,58,5,1,0,0,121,1,0,2,5,8,50,1,-1,0,3,8
9,43,9,2,1,0,593,1,0,2,5,8,55,1,-1,0,3,9

In [28]:
aligned_df_new_encode.head(50)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58,2143,NaN,NaN,NaN,0,NaN,2,1,0,4,0,1,NaN,-1.0,1,2.0
1,44,29,NaN,NaN,NaN,0,NaN,1,1,1,9,0,2,NaN,-3.0,1,0.0
2,33,2,1.0,2.0,5.0,0,76.0,1,1,2,2,1,1,8.0,-1.0,3,0.0
3,47,1506,1.0,2.0,5.0,0,92.0,3,1,3,1,0,1,8.0,-1.0,3,0.0
4,33,1,NaN,NaN,NaN,0,NaN,3,0,4,11,0,2,NaN,1.0,1,2.0
5,35,231,NaN,NaN,NaN,0,NaN,2,1,5,4,0,1,NaN,-2.0,1,1.0
6,28,447,1.0,2.0,5.0,0,217.0,2,1,6,4,1,2,8.0,-1.0,3,0.0
7,42,2,NaN,NaN,NaN,1,NaN,2,1,7,2,0,0,NaN,-2.0,3,2.0
8,58,121,NaN,NaN,NaN,0,NaN,0,1,8,5,0,1,NaN,-2.0,2,2.0
9,43,593,NaN,NaN,NaN,0,NaN,1,1,9,9,0,2,NaN,145.0,0,2.0
10,41,270,NaN,NaN,NaN,0,NaN,1,1,10,0,0,0,NaN,-1.0,3,0.0
11,29,390,NaN,NaN,NaN,0,NaN,1,1,11,0,0,2,NaN,-2.0,2,2.0
12,53,6,1.0,2.0,5.0,0,517.0,1,1,12,9,0,1,8.0,-1.0,3,0.0
13,58,71,NaN,NaN,NaN,0,NaN,3,1,13,9,0,1,NaN,-2.0,3,0.0
14,57,162,1.0,2.0,5.0,0,174.0,1,1,14,7,0,1,8.0,-1.0,3,0.0
15,51,229,1.0,2.0,5.0,0,353.0,0,1,15,5,0,1,8.0,-1.0,3,0.0
16,45,13,NaN,NaN,NaN,0,NaN,3,1,16,0,0,2,NaN,3.0,3,3.0
17,57,52,1.0,2.0,5.0,0,38.0,0,1,17,1,0,1,8.0,-1.0,3,0.0
18,60,60,NaN,NaN,NaN,0,NaN,0,1,18,5,0,1,NaN,-3.0,3,0.0
19,33,0,1.0,2.0,5.0,0,54.0,1,1,19,7,0,1,8.0,-1.0,3,0.0
20,28,723,1.0,2.0,5.0,0,262.0,1,1,20,1,1,1,8.0,-1.0,3,0.0
21,56,779,NaN,NaN,NaN,0,NaN,2,1,21,4,0,1,NaN,-1.0,3,2.0
22,32,23,NaN,NaN,NaN,0,NaN,0,1,22,1,1,2,NaN,-1.0,0,0.0
23,25,50,1.0,2.0,5.0,0,342.0,1,1,23,7,0,1,8.0,-1.0,3,0.0
24,40,0,NaN,NaN,NaN,0,NaN,0,1,24,5,1,1,NaN,-1.0,3,1.0
25,44,-372,NaN,NaN,NaN,0,NaN,1,1,25,0,0,1,NaN,-1.0,1,2.0
26,39,255,NaN,NaN,NaN,0,NaN,2,1,26,4,0,2,NaN,44.0,1,0.0
27,52,113,NaN,NaN,NaN,0,NaN,1,1,27,2,1,1,NaN,-2.0,3,1.0
28,46,-246,2.0,2.0,5.0,0,255.0,1,1,28,4,0,2,8.0,-1.0,3,0.0
29,36,265,NaN,NaN,NaN,0,NaN,1,1,29,9,1,2,NaN,-4.0,0,2.0
30,57,839,1.0,2.0,5.0,0,225.0,1,0,30,9,1,1,8.0,-1.0,3,0.0
31,49,378,NaN,NaN,NaN,0,NaN,2,1,31,4,0,1,NaN,178.0,1,0.0
32,60,39,NaN,NaN,NaN,0,NaN,1,1,32,0,1,1,NaN,-4.0,1,2.0
33,59,0,1.0,2.0,5.0,0,226.0,1,1,33,1,0,1,8.0,-1.0,3,0.0
34,51,10635,NaN,NaN,NaN,0,NaN,2,1,34,4,0,1,NaN,-3.0,1,1.0
35,57,63,1.0,2.0,5.0,0,242.0,1,1,35,9,0,0,8.0,-1.0,3,0.0
36,25,-7,1.0,2.0,5.0,0,365.0,1,1,36,1,0,1,8.0,-1.0,3,0.0
37,53,-3,NaN,NaN,NaN,0,NaN,1,0,37,9,0,1,NaN,1.0,0,2.0
38,36,506,NaN,NaN,NaN,0,NaN,1,1,38,0,0,0,NaN,331.0,0,0.0
39,37,0,NaN,NaN,NaN,0,NaN,1,1,39,0,0,2,NaN,0.0,3,0.0
40,44,2586,NaN,NaN,NaN,0,NaN,1,1,40,7,0,0,NaN,-2.0,3,3.0
41,50,49,NaN,NaN,NaN,0,NaN,1,1,41,4,0,1,NaN,-1.0,0,0.0
42,60,104,NaN,NaN,NaN,0,NaN,3,1,42,1,0,1,NaN,-3.0,1,1.0
43,54,529,1.0,2.0,5.0,0,1492.0,1,1,43,5,0,1,8.0,-1.0,3,0.0
44,58,96,NaN,NaN,NaN,0,NaN,3,1,44,5,0,1,NaN,-2.0,3,0.0
45,36,-171,NaN,NaN,NaN,0,NaN,0,1,45,0,0,2,NaN,-2.0,3,1.0
46,58,-364,1.0,2.0,5.0,0,355.0,2,1,46,6,0,1,8.0,-1.0,3,0.0
47,44,0,2.0,2.0,5.0,0,225.0,1,1,47,9,0,1,8.0,-1.0,3,0.0
48,55,0,1.0,2.0,5.0,0,160.0,1,0,48,9,0,0,8.0,-1.0,3,0.0
49,29,0,1.0,2.0,5.0,0,363.0,2,1,49,4,0,2,8.0,-1.0,3,0.0

In [29]:
# 将bank_data_encode数据集的列的顺序调整到和aligned_df_new_encode列的顺序一样
bank_data_encode = bank_data_encode.reindex(columns=aligned_df_new_encode.columns)
bank_data_encode.head(50)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58,2143,1,2,5,0,261,2,1,0,4,0,1,8,-1,3,0
1,44,29,1,2,5,0,151,1,1,1,9,0,2,8,-1,3,0
2,33,2,1,2,5,0,76,1,1,2,2,1,1,8,-1,3,0
3,47,1506,1,2,5,0,92,3,1,3,1,0,1,8,-1,3,0
4,33,1,1,2,5,0,198,3,0,4,11,0,2,8,-1,3,0
5,35,231,1,2,5,0,139,2,1,5,4,0,1,8,-1,3,0
6,28,447,1,2,5,0,217,2,1,6,4,1,2,8,-1,3,0
7,42,2,1,2,5,1,380,2,1,7,2,0,0,8,-1,3,0
8,58,121,1,2,5,0,50,0,1,8,5,0,1,8,-1,3,0
9,43,593,1,2,5,0,55,1,1,9,9,0,2,8,-1,3,0
10,41,270,1,2,5,0,222,1,1,10,0,0,0,8,-1,3,0
11,29,390,1,2,5,0,137,1,1,11,0,0,2,8,-1,3,0
12,53,6,1,2,5,0,517,1,1,12,9,0,1,8,-1,3,0
13,58,71,1,2,5,0,71,3,1,13,9,0,1,8,-1,3,0
14,57,162,1,2,5,0,174,1,1,14,7,0,1,8,-1,3,0
15,51,229,1,2,5,0,353,0,1,15,5,0,1,8,-1,3,0
16,45,13,1,2,5,0,98,3,1,16,0,0,2,8,-1,3,0
17,57,52,1,2,5,0,38,0,1,17,1,0,1,8,-1,3,0
18,60,60,1,2,5,0,219,0,1,18,5,0,1,8,-1,3,0
19,33,0,1,2,5,0,54,1,1,19,7,0,1,8,-1,3,0
20,28,723,1,2,5,0,262,1,1,20,1,1,1,8,-1,3,0
21,56,779,1,2,5,0,164,2,1,21,4,0,1,8,-1,3,0
22,32,23,1,2,5,0,160,0,1,22,1,1,2,8,-1,3,0
23,25,50,1,2,5,0,342,1,1,23,7,0,1,8,-1,3,0
24,40,0,1,2,5,0,181,0,1,24,5,1,1,8,-1,3,0
25,44,-372,1,2,5,0,172,1,1,25,0,0,1,8,-1,3,0
26,39,255,1,2,5,0,296,2,1,26,4,0,2,8,-1,3,0
27,52,113,1,2,5,0,127,1,1,27,2,1,1,8,-1,3,0
28,46,-246,2,2,5,0,255,1,1,28,4,0,2,8,-1,3,0
29,36,265,1,2,5,0,348,1,1,29,9,1,2,8,-1,3,0
30,57,839,1,2,5,0,225,1,0,30,9,1,1,8,-1,3,0
31,49,378,1,2,5,0,230,2,1,31,4,0,1,8,-1,3,0
32,60,39,1,2,5,0,208,1,1,32,0,1,1,8,-1,3,0
33,59,0,1,2,5,0,226,1,1,33,1,0,1,8,-1,3,0
34,51,10635,1,2,5,0,336,2,1,34,4,0,1,8,-1,3,0
35,57,63,1,2,5,0,242,1,1,35,9,0,0,8,-1,3,0
36,25,-7,1,2,5,0,365,1,1,36,1,0,1,8,-1,3,0
37,53,-3,1,2,5,0,1666,1,0,37,9,0,1,8,-1,3,0
38,36,506,1,2,5,0,577,1,1,38,0,0,0,8,-1,3,0
39,37,0,1,2,5,0,137,1,1,39,0,0,2,8,-1,3,0
40,44,2586,1,2,5,0,160,1,1,40,7,0,0,8,-1,3,0
41,50,49,2,2,5,0,180,1,1,41,4,0,1,8,-1,3,0
42,60,104,1,2,5,0,22,3,1,42,1,0,1,8,-1,3,0
43,54,529,1,2,5,0,1492,1,1,43,5,0,1,8,-1,3,0
44,58,96,1,2,5,0,616,3,1,44,5,0,1,8,-1,3,0
45,36,-171,1,2,5,0,242,0,1,45,0,0,2,8,-1,3,0
46,58,-364,1,2,5,0,355,2,1,46,6,0,1,8,-1,3,0
47,44,0,2,2,5,0,225,1,1,47,9,0,1,8,-1,3,0
48,55,0,1,2,5,0,160,1,0,48,9,0,0,8,-1,3,0
49,29,0,1,2,5,0,363,2,1,49,4,0,2,8,-1,3,0

# 获得B方不完整数据集的掩码矩阵

In [30]:
data_m = 1 - np.isnan(aligned_df_new_encode.values)  # 创建掩模矩阵，标记缺失值位置
data_m

array([[1, 1, 0, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [1, 1, 0, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 1, 1]])

# 填补

In [31]:
gain_parameters = {'batch_size': 64,
                   'hint_rate': 0.9,
                   'alpha': 100,
                   'iterations': 10000}
from method.gain import gain
# 填补缺失数据
# 这里传入的不完整数据集需要是numarry类型，不能是DataForm类型
imputed_data_x = gain(aligned_df_new_encode.values, gain_parameters)
# 返回的imputed_data_x是num类型

WARNING:tensorflow:From C:\Users\Lenovo\AppData\Roaming\Python\Python310\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

100%|██████████| 10000/10000 [00:19<00:00, 522.52it/s]

In [32]:
pd.DataFrame(imputed_data_x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,58.0,2143.0,2.381856,0.0,5.998409,0.0,139.807103,2.0,1.0,0.0,4.0,0.0,1.0,0.0,-1.0,1.0,2.0
1,44.0,29.0,2.375650,0.0,6.018184,0.0,141.634280,1.0,1.0,1.0,9.0,0.0,2.0,0.0,-3.0,1.0,0.0
2,33.0,2.0,1.000000,2.0,5.000000,0.0,76.000000,1.0,1.0,2.0,2.0,1.0,1.0,8.0,-1.0,3.0,0.0
3,47.0,1506.0,1.000000,2.0,5.000000,0.0,92.000000,3.0,1.0,3.0,1.0,0.0,1.0,8.0,-1.0,3.0,0.0
4,33.0,1.0,2.837592,0.0,6.045928,0.0,142.934984,3.0,0.0,4.0,11.0,0.0,2.0,0.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51.0,825.0,3.000000,0.0,17.000000,0.0,977.000000,2.0,0.0,45206.0,9.0,0.0,1.0,9.0,-1.0,3.0,0.0
45207,71.0,1729.0,2.397280,0.0,6.186791,0.0,100.679193,0.0,0.0,45207.0,5.0,0.0,0.0,0.0,-1.0,3.0,0.0
45208,72.0,5715.0,2.184299,0.0,6.137087,0.0,104.289817,1.0,0.0,45208.0,5.0,0.0,1.0,0.0,-1.0,3.0,1.0
45209,57.0,668.0,2.413643,0.0,6.127810,0.0,118.366204,1.0,0.0,45209.0,1.0,0.0,1.0,0.0,292.0,3.0,0.0
45210,37.0,2971.0,2.579181,0.0,5.928513,0.0,100.974875,1.0,0.0,45210.0,2.0,0.0,1.0,0.0,-1.0,3.0,0.0

In [33]:
# 查看imputed_data_x的类型
print(pd.DataFrame(imputed_data_x).dtypes)

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
dtype: object

In [34]:
# 将原始数据集也改为和填补数据集一样的类型
bank_data_encode=bank_data_encode.astype(float)
print(bank_data_encode.dtypes)

age          float64
balance      float64
campaign     float64
contact      float64
day          float64
default      float64
duration     float64
education    float64
housing      float64
index        float64
job          float64
loan         float64
marital      float64
month        float64
pdays        float64
poutcome     float64
previous     float64
dtype: object

In [35]:
bank_data_encode

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58.0,2143.0,1.0,2.0,5.0,0.0,261.0,2.0,1.0,0.0,4.0,0.0,1.0,8.0,-1.0,3.0,0.0
1,44.0,29.0,1.0,2.0,5.0,0.0,151.0,1.0,1.0,1.0,9.0,0.0,2.0,8.0,-1.0,3.0,0.0
2,33.0,2.0,1.0,2.0,5.0,0.0,76.0,1.0,1.0,2.0,2.0,1.0,1.0,8.0,-1.0,3.0,0.0
3,47.0,1506.0,1.0,2.0,5.0,0.0,92.0,3.0,1.0,3.0,1.0,0.0,1.0,8.0,-1.0,3.0,0.0
4,33.0,1.0,1.0,2.0,5.0,0.0,198.0,3.0,0.0,4.0,11.0,0.0,2.0,8.0,-1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51.0,825.0,3.0,0.0,17.0,0.0,977.0,2.0,0.0,45206.0,9.0,0.0,1.0,9.0,-1.0,3.0,0.0
45207,71.0,1729.0,2.0,0.0,17.0,0.0,456.0,0.0,0.0,45207.0,5.0,0.0,0.0,9.0,-1.0,3.0,0.0
45208,72.0,5715.0,5.0,0.0,17.0,0.0,1127.0,1.0,0.0,45208.0,5.0,0.0,1.0,9.0,184.0,2.0,3.0
45209,57.0,668.0,4.0,1.0,17.0,0.0,508.0,1.0,0.0,45209.0,1.0,0.0,1.0,9.0,-1.0,3.0,0.0
45210,37.0,2971.0,2.0,0.0,17.0,0.0,361.0,1.0,0.0,45210.0,2.0,0.0,1.0,9.0,188.0,1.0,11.0

# 结果分析

In [36]:
from VF.util.utils import rmse_loss
# 计算均方误差
rmse = rmse_loss(bank_data_encode.values, imputed_data_x, data_m)
rmse_spam=str(np.round(rmse, 4))
print('RMSE（均方误差）为: ' + rmse_spam)

RMSE（均方误差）为: 0.4049

In [37]:
imputed_data_x=pd.DataFrame(imputed_data_x)

In [38]:
# 假设df1和df2是你的两个数据集，你想让df2的列名和df1的一样
# 首先，获取df1的列名
columns_df1 = bank_data_encode.columns

# 然后，获取df2的列名
columns_df2 = imputed_data_x.columns

# 创建一个字典，其中键是df2的列名，值是df1的列名
rename_dict = {old: new for old, new in zip(columns_df2, columns_df1)}

# 使用rename函数修改df2的列名
imputed_data_x.rename(columns=rename_dict, inplace=True)

In [39]:
imputed_data_x.head(10)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous
0,58.0,2143.0,2.381856,0.0,5.998409,0.0,139.807103,2.0,1.0,0.0,4.0,0.0,1.0,0.0,-1.0,1.0,2.0
1,44.0,29.0,2.375650,0.0,6.018184,0.0,141.634280,1.0,1.0,1.0,9.0,0.0,2.0,0.0,-3.0,1.0,0.0
2,33.0,2.0,1.000000,2.0,5.000000,0.0,76.000000,1.0,1.0,2.0,2.0,1.0,1.0,8.0,-1.0,3.0,0.0
3,47.0,1506.0,1.000000,2.0,5.000000,0.0,92.000000,3.0,1.0,3.0,1.0,0.0,1.0,8.0,-1.0,3.0,0.0
4,33.0,1.0,2.837592,0.0,6.045928,0.0,142.934984,3.0,0.0,4.0,11.0,0.0,2.0,0.0,1.0,1.0,2.0
5,35.0,231.0,2.729754,0.0,5.999916,0.0,140.031762,2.0,1.0,5.0,4.0,0.0,1.0,0.0,-2.0,1.0,1.0
6,28.0,447.0,1.000000,2.0,5.000000,0.0,217.000000,2.0,1.0,6.0,4.0,1.0,2.0,8.0,-1.0,3.0,0.0
7,42.0,2.0,1.196718,1.0,5.989052,1.0,217.259519,2.0,1.0,7.0,2.0,0.0,0.0,11.0,-2.0,3.0,2.0
8,58.0,121.0,2.715419,0.0,6.159528,0.0,159.717239,0.0,1.0,8.0,5.0,0.0,1.0,0.0,-2.0,2.0,2.0
9,43.0,593.0,2.110487,0.0,5.899548,0.0,159.878504,1.0,1.0,9.0,9.0,0.0,2.0,0.0,145.0,0.0,2.0

In [40]:
# 获得目标列，假设列名是'column_name'
column = pd.read_csv('datasets/bank.csv',sep=';')['y']
# 将这一列添加到其他数据集中，假设你想把这一列的名字还叫'column_name'
bank_data_encode['y'] = column
imputed_data_x['y'] = column
print(bank_data_encode.shape)
print(imputed_data_x.shape)

(45211, 18)
(45211, 18)

In [41]:
from table_evaluator import TableEvaluator
# 传入是数据类型得是DataForm类型
evaluator=TableEvaluator(bank_data_encode,imputed_data_x)
# 数值分析
# evaluator.evaluate(target_col='y',notebook=True,verbose=False)

Tab(children=(VBox(children=(Output(),)), VBox(children=(Output(),)), VBox(children=(Output(),)), VBox(childre…

In [43]:
evaluator.evaluate(target_col='y',notebook=False,verbose=False)

Classifier F1-scores and their Jaccard similarities::
                             f1_real  f1_fake  jaccard_similarity
index
DecisionTreeClassifier_fake   0.9264   0.8560              0.7716
DecisionTreeClassifier_real   0.8837   0.9262              0.7982
LogisticRegression_fake       0.8886   0.8881              0.9740
LogisticRegression_real       0.8847   0.8841              0.9654
MLPClassifier_fake            0.8860   0.5271              0.2807
MLPClassifier_real            0.8801   0.5642              0.3023
RandomForestClassifier_fake   0.9287   0.8965              0.8668
RandomForestClassifier_real   0.9032   0.9354              0.8634

Privacy results:
                                         result
Duplicate rows between sets (real/fake)  (0, 0)
nearest neighbor mean                    1.4278
nearest neighbor std                     0.4500

Miscellaneous results:
                                  Result
Column Correlation Distance RMSE  0.0817
Column Correlation distance MAE   0.0363

Results:
                                                result
Basic statistics                                0.9663
Correlation column correlations                 0.8386
Mean Correlation between fake and real columns  0.9552
1 - MAPE Estimator results                      0.8800
Similarity Score                                0.9100

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.metrics import  confusion_matrix
X = imputed_data_x.drop('y', axis=1)  # 假设 '' 是目标变量
# 将样本集划分为70%的训练集，30%作为测试集
X_train, X_test, y_train, y_test = train_test_split(X, column, test_size=0.3, random_state=42)
# 创建和训练模型
model = LogisticRegression()
model.fit(X_train, y_train)
# 预测
y_pred = model.predict(X_test)
# 计算准确率
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ', accuracy)
#测试逻辑回归的模型评估

y_test = le.fit_transform(y_test)
y_pred = le.fit_transform(y_pred)
auc=roc_auc_score(y_test, y_pred)
print('auc: ', auc)

Accuracy:  0.8840312592155706
auc:  0.5368306258638107