In [1]:
import pandas as pd
bank_data = pd.read_csv('bank.csv',sep=';')
# 查看数据集的形状
print("数据集形状：", bank_data.shape)
# 查看数据集的维度
print("数据集维度：", bank_data.ndim)

数据集形状： (45211, 17)
数据集维度： 2

In [2]:
bank_data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [3]:
# 假设bank_data是原始数据集
bank_data = pd.read_csv('bank.csv',sep=';')

# 假设你想要将'A'和'B'列的数据放入一个新的数据集df1，将'C'和'D'列的数据放入另一个数据集df2
bank_data_A = bank_data[['age', 'job','marital','education','default','balance','housing','loan']]
bank_data_A['index']=range(0,len(bank_data_A));
bank_data_B = bank_data[['contact', 'day','month','duration','campaign','pdays','previous','poutcome','y']]
bank_data_B['index']=range(0,len(bank_data_B));
print(bank_data_A.shape)
print(bank_data_B.shape)

(45211, 9)
(45211, 10)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33632\3682890766.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_data_A['index']=range(0,len(bank_data_A));
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33632\3682890766.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_data_B['index']=range(0,len(bank_data_B));

In [4]:
bank_data_A.head()

   age           job  marital  education default  balance housing loan  index
0   58    management  married   tertiary      no     2143     yes   no      0
1   44    technician   single  secondary      no       29     yes   no      1
2   33  entrepreneur  married  secondary      no        2     yes  yes      2
3   47   blue-collar  married    unknown      no     1506     yes   no      3
4   33       unknown   single    unknown      no        1      no   no      4

In [5]:
bank_data_B.head()

   contact  day month  duration  campaign  pdays  previous poutcome   y  index
0  unknown    5   may       261         1     -1         0  unknown  no      0
1  unknown    5   may       151         1     -1         0  unknown  no      1
2  unknown    5   may        76         1     -1         0  unknown  no      2
3  unknown    5   may        92         1     -1         0  unknown  no      3
4  unknown    5   may       198         1     -1         0  unknown  no      4

In [6]:
# 将数据集保存为新的CSV文件
bank_data_A.to_csv('../datasetsAB/bank_data_A.csv', index=False)
bank_data_B.to_csv('../datasetsAB/bank_data_B.csv', index=False)